In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.options.display.float_format = '{:,.2f}'.format

In [3]:
# reading dataset for Mexico IPUMS
data_mexico = pd.read_stata('/users/quasar/downloads/ipumsi_00028.dta')
data_mexico.head()

  country  year       sample   serial  hhwt  pernum  perwt age   sex                     edattain               edattaind            yrschool                          educmx empstat empstatd                              indgen             classwk               classwkd  incearn
0  mexico  1960  mexico 1960 1,000.00    67       1     67  18  male  less than primary completed  some primary completed             4 years                primary, 4 years     NaN      NaN  agriculture, fishing, and forestry       self-employed  member of cooperative   120.00
1  mexico  1960  mexico 1960 2,000.00    67       1     67  50  male  less than primary completed            no schooling  none or pre-school  none, or never attended school     NaN      NaN  agriculture, fishing, and forestry       self-employed  member of cooperative   180.00
2  mexico  1960  mexico 1960 3,000.00    67       1     67  19  male  less than primary completed  some primary completed             2 years                primary, 2 years     NaN      NaN  agriculture, fishing, and forestry  wage/salary worker            day laborer     0.00
3  mexico  1960  mexico 1960 4,000.00    67       1     67  22  male  less than primary completed  some primary completed             2 years                primary, 2 years     NaN      NaN  agriculture, fishing, and forestry  wage/salary worker            day laborer     0.00
4  mexico  1960  mexico 1960 5,000.00    67       1     67  32  male  less than primary completed  some primary completed             4 years                primary, 4 years     NaN      NaN  agriculture, fishing, and forestry  wage/salary worker            day laborer     0.00

In [5]:
data_mexico.groupby('year').count()

       country    sample    serial      hhwt    pernum     perwt       age       sex  edattain  edattaind  yrschool    educmx   empstat  empstatd    indgen   classwk  classwkd   incearn
year
1960    502800    502800    502800    502800    502800    502800    502800    502800    502800     502800    502800    502800         0         0    502800    502800    502800    502800
1970    483405    483405    483405    483405    483405    483405    483405    483405    483405     483405    483405    483405    483405    483405    483405    483405    483405         0
1990   8118242   8118242   8118242   8118242   8118242   8118242   8118242   8118242   8118242    8118242   8118242   8118242   8118242   8118242   8118242   8118242   8118242   8118242
1995    332061    332061    332061    332061    332061    332061    332061    332061    332061     332061    332061    332061    332061    332061    332061    332061    332061    332061
2000  10099182  10099182  10099182  10099182  10099182  10099182  10099182  10099182  10099182   10099182  10099182  10099182  10099182  10099182  10099182  10099182  10099182  10099182
2005  10284550  10284550  10284550  10284550  10284550  10284550  10284550  10284550  10284550   10284550  10284550  10284550         0         0         0         0         0         0
2010  11938402  11938402  11938402  11938402  11938402  11938402  11938402  11938402  11938402   11938402  11938402  11938402  11938402  11938402  11938402  11938402  11938402  11938402
2015  11344365  11344365  11344365  11344365  11344365  11344365  11344365  11344365  11344365   11344365  11344365  11344365  11344365  11344365  11344365  11344365  11344365  11344365

In [6]:
data_mexico.isnull().sum()

country             0
year                0
sample              0
serial              0
hhwt                0
pernum              0
perwt               0
age                 0
sex                 0
edattain            0
edattaind           0
yrschool            0
educmx              0
empstat      10787350
empstatd     10787350
indgen       10284550
classwk      10284550
classwkd     10284550
incearn      10767955
dtype: int64

In [9]:
"""
data_mexico['EDUCMX'].replace(to_replace= 000, value='Less than primary', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 10, value='None, or never attended school', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 20, value='Preschool or kindergarten', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 21, value='Preschool, 1 year', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 22, value='Preschool, 2 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 23, value='Preschool, 3 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 29, value='Preschool, unspecified years', inplace=True)

data_mexico['EDUCMX'].replace(to_replace= 100, value='Primary', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 101, value='Primary, 1 year', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 102, value='Primary, 2 year', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 103, value='Primary, 3 year', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 104, value='Primary, 4 year', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 105, value='Primary, 5 year', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 106, value='Primary, 6 year', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 109, value='Primary, years unspecified', inplace=True)

data_mexico['EDUCMX'].replace(to_replace= 200, value='Lower secondary (middle or junior high school)', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 210, value='Lower secondary, tech/commercial', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 211, value='Lower secondary, tech/commercial, 1 year', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 212, value='Lower secondary, tech/commercial, 2 year', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 213, value='Lower secondary, tech/commercial, 3 year', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 214, value='Lower secondary, tech/commercial, 4 year', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 219, value='Lower secondary, tech/commercial, years unspec', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 220, value='Lower secondary, general track', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 221, value='Lower secondary, general track, 1 year', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 222, value='Lower secondary, general track, 2 year', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 223, value='Lower secondary, general track, 3 year', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 229, value='Lower secondary, general track, years unspec.', inplace=True)

data_mexico['EDUCMX'].replace(to_replace= 300, value='Secondary (high school)', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 310, value='Secondary tech/commercial', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 311, value='Secondary tech/commercial, 1 year', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 312, value='Secondary tech/commercial, 2 year', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 313, value='Secondary tech/commercial, 3 year', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 314, value='Secondary tech/commercial, 4 year', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 315, value='Secondary tech/commercial, 5 year', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 319, value='Secondary tech/commercial, year unspec', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 320, value='Secondary, general track', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 321, value='Secondary, general track, 1 year', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 322, value='Secondary, general track, 2 year', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 323, value='Secondary, general track, years unspec.', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 329, value='Technological track', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 330, value='Secondary, technological track, year 1', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 331, value='Secondary, technological track, year 2', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 332, value='Secondary, technological track, year 3', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 339, value='Secondary, technological track, year unspecified', inplace=True)

data_mexico['EDUCMX'].replace(to_replace= 400, value='Normal school (teacher-training)', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 401, value='Normal, 1 year', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 402, value='Normal, 2 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 403, value='Normal, 3 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 404, value='Normal, 4 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 404, value='Normal, years unspec', inplace=True)

data_mexico['EDUCMX'].replace(to_replace= 500, value='Post-secondary technical', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 501, value='Post-secondary technical, 1 year', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 502, value='Post-secondary technical, 2 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 503, value='Post-secondary technical, 3 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 504, value='Post-secondary technical, 4 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 505, value='Post-secondary technical, 5 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 509, value='Post-secondary technical, years unspec', inplace=True)

data_mexico['EDUCMX'].replace(to_replace= 600, value='University', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 610, value='University undergraduate', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 611, value='University undergraduate, 1 year', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 612, value='University undergraduate, 2 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 613, value='University undergraduate, 3 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 614, value='University undergraduate, 4 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 615, value='University undergraduate, 5 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 616, value='University undergraduate, 6 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 617, value='University undergraduate, 7 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 618, value='University undergraduate, 8+ years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 619, value='University undergraduate, years unspec', inplace=True)

data_mexico['EDUCMX'].replace(to_replace= 620, value='University graduate', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 621, value='University graduate, 1 year', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 622, value='University graduate, 2 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 623, value='University graduate, 3 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 624, value='University graduate, 4 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 625, value='University graduate, 5 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 626, value='University graduate, 6 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 627, value='University graduate, 7 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 628, value='University graduate, 8+ years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 629, value='University graduate, years unspec', inplace=True)

data_mexico['EDUCMX'].replace(to_replace= 630, value='Masters degree (2005-2010)', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 631, value='Masters, 1 year', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 632, value='Masters, 2 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 633, value='Masters, 3 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 639, value='Masters, year unspecified', inplace=True)

data_mexico['EDUCMX'].replace(to_replace= 640, value='Doctoral degree (2005-2010)', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 641, value='Doctoral, 1 year', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 642, value='Doctoral, 2 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 643, value='Doctoral, 3 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 644, value='Doctoral, 4 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 645, value='Doctoral, 5 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 646, value='Doctoral, 6 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 649, value='Doctoral, years unspecified', inplace=True)

data_mexico['EDUCMX'].replace(to_replace= 650, value='Specialty degree', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 651, value='Specialty, 1 year', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 652, value='Specialty, 2 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 659, value='Specialty, years unspecified', inplace=True)

data_mexico['EDUCMX'].replace(to_replace= 700, value='Unspecified post-secondary', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 701, value='Unspecified post-secondary, 1 year', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 702, value='Unspecified post-secondary, 2 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 703, value='Unspecified post-secondary, 3 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 704, value='Unspecified post-secondary, 4 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 705, value='Unspecified post-secondary, 5 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 706, value='Unspecified post-secondary, 6 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 707, value='Unspecified post-secondary, 7 years', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 708, value='Unspecified post-secondary, 8+ years', inplace=True)

data_mexico['EDUCMX'].replace(to_replace= 800, value='Unknown/missing', inplace=True)
data_mexico['EDUCMX'].replace(to_replace= 999, value='NIU (not in universe)', inplace=True)
"""

In [11]:
"""
data_mexico['INDGEN'].replace(to_replace= 0, value='Not In Universe', inplace=True)
data_mexico['INDGEN'].replace(to_replace= 10, value='Agriculture', inplace=True)
data_mexico['INDGEN'].replace(to_replace= 20, value='Industry', inplace=True)
data_mexico['INDGEN'].replace(to_replace= 30, value='Industry', inplace=True)
data_mexico['INDGEN'].replace(to_replace= 40, value='Skilled Service', inplace=True)
data_mexico['INDGEN'].replace(to_replace= 50, value='Industry', inplace=True)
data_mexico['INDGEN'].replace(to_replace= 60, value='Unskilled Service', inplace=True)
data_mexico['INDGEN'].replace(to_replace= 70, value='Unskilled Service', inplace=True)
data_mexico['INDGEN'].replace(to_replace= 80, value='Unskilled Service', inplace=True)
data_mexico['INDGEN'].replace(to_replace= 90, value='Skilled Service', inplace=True)
data_mexico['INDGEN'].replace(to_replace= 100, value='Skilled Service', inplace=True)
data_mexico['INDGEN'].replace(to_replace= 111, value='Skilled Service', inplace=True)
data_mexico['INDGEN'].replace(to_replace= 112, value='Skilled Service', inplace=True)
data_mexico['INDGEN'].replace(to_replace= 113, value='Skilled Service', inplace=True)
data_mexico['INDGEN'].replace(to_replace= 114, value='Skilled Service', inplace=True)
data_mexico['INDGEN'].replace(to_replace= 120, value='Unskilled Service', inplace=True)
data_mexico['INDGEN'].replace(to_replace= 130, value='Industry', inplace=True)
data_mexico['INDGEN'].replace(to_replace= 998, value='Response Suppressed', inplace=True)
data_mexico['INDGEN'].replace(to_replace= 999, value='Unknown', inplace=True)
"""

## Sector in economy - Agriculture, Industry, Unskilled services, Skilled services

In [9]:
data_mexico.head()

  country  year       sample   serial  hhwt  pernum  perwt age   sex                     edattain               edattaind            yrschool                          educmx empstat empstatd                              indgen             classwk               classwkd  incearn
0  mexico  1960  mexico 1960 1,000.00    67       1     67  18  male  less than primary completed  some primary completed             4 years                primary, 4 years     NaN      NaN  agriculture, fishing, and forestry       self-employed  member of cooperative   120.00
1  mexico  1960  mexico 1960 2,000.00    67       1     67  50  male  less than primary completed            no schooling  none or pre-school  none, or never attended school     NaN      NaN  agriculture, fishing, and forestry       self-employed  member of cooperative   180.00
2  mexico  1960  mexico 1960 3,000.00    67       1     67  19  male  less than primary completed  some primary completed             2 years                primary, 2 years     NaN      NaN  agriculture, fishing, and forestry  wage/salary worker            day laborer     0.00
3  mexico  1960  mexico 1960 4,000.00    67       1     67  22  male  less than primary completed  some primary completed             2 years                primary, 2 years     NaN      NaN  agriculture, fishing, and forestry  wage/salary worker            day laborer     0.00
4  mexico  1960  mexico 1960 5,000.00    67       1     67  32  male  less than primary completed  some primary completed             4 years                primary, 4 years     NaN      NaN  agriculture, fishing, and forestry  wage/salary worker            day laborer     0.00

In [11]:
data_mexico['indgen'].replace(to_replace=['agriculture, fishing, and forestry'], value='Agriculture', inplace=True)
data_mexico['indgen'].replace(to_replace=['construction', 'manufacturing' ,'mining and extraction'], value='Industry', inplace=True)
data_mexico['indgen'].replace(to_replace=['hotels and restaurants','private household services',
                    'transportation, storage, and communications', 'wholesale and retail trade'], 
                    value='Unskilled service', inplace=True)
data_mexico['indgen'].replace(to_replace=['education', 'financial services and insurance','health and social work',
                    'public administration and defense',
                    'other services', 'business services and real estate', 
                    'electricity, gas, water and waste management'], 
                    value='Skilled service', inplace=True)

indexNames = data_mexico[data_mexico['indgen'].isin(['unknown', 'niu (not in universe)'])].index
data_mexico = data_mexico.drop(indexNames)
data_mexico['indgen'].replace(to_replace=['niu (not in universe)', 'unknown'], value='Agriculture', inplace=True)
print("\nSector by labour share % ")
share = data_mexico.groupby('year')['indgen'].value_counts(normalize=True)
share

Sector by labour share %

year
1960  Agriculture             0.32
      Unskilled service       0.27
      Industry                0.27
      Skilled service         0.14
      other industry, n.e.c   0.00
1970  Agriculture             0.42
      Industry                0.24
      Unskilled service       0.21
      Skilled service         0.14
      other industry, n.e.c   0.00
1990  Industry                0.28
      Unskilled service       0.25
      Skilled service         0.24
      Agriculture             0.23
      other industry, n.e.c   0.00
1995  Agriculture             0.29
      Skilled service         0.25
      Unskilled service       0.24
      Industry                0.23
      other industry, n.e.c   0.00
2000  Unskilled service       0.28
      Industry                0.26
      Agriculture             0.26
      Skilled service         0.20
      other industry, n.e.c   0.00
2005  Agriculture              NaN
      Industry                 NaN
      Unskilled service        NaN
      Skilled service          NaN
      other industry, n.e.c    NaN
2010  Agriculture             0.31
      Unskilled service       0.27
      Industry                0.23
      Skilled service         0.19
      other industry, n.e.c   0.00
2015  Unskilled service       0.29
      Agriculture             0.25
      Industry                0.24
      Skilled service         0.22
      other industry, n.e.c   0.00
Name: indgen, dtype: float64

In [14]:
"""
data_mexico['yrschool'].unique()
"""

array([ 4,  0,  2,  3,  1,  6, 98,  5, 12, 11,  8,  9, 15, 99,  7, 13, 10,
       14, 17, 18, 16, 91, 94, 93, 92])

## Mean of incwage (Wage) by year and sector

In [13]:
data_mexico.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23905802 entries, 0 to 53103006
Data columns (total 19 columns):
 #   Column     Dtype
---  ------     -----
 0   country    category
 1   year       category
 2   sample     category
 3   serial     float64
 4   hhwt       int16
 5   pernum     int16
 6   perwt      int16
 7   age        category
 8   sex        category
 9   edattain   category
 10  edattaind  category
 11  yrschool   category
 12  educmx     category
 13  empstat    category
 14  empstatd   category
 15  indgen     category
 16  classwk    category
 17  classwkd   category
 18  incearn    float64
dtypes: category(14), float64(2), int16(3)
memory usage: 1.5 GB

In [14]:
print("\nMean of incwage by year and sector\n")
print(data_mexico.groupby(['year','indgen', 'educmx'])['incearn'].mean())

Mean of incwage by year and sector

year  indgen                 educmx
1960  Agriculture            none, or never attended school         220.41
                             preschool or kindergarten                 NaN
                             preschool, 1 year                         NaN
                             preschool, 2 years                        NaN
                             preschool, 3 years                        NaN
                                                                     ...
2015  other industry, n.e.c  unspecified post-secondary, 6 years       NaN
                             unspecified post-secondary, 7 years       NaN
                             unspecified post-secondary, 8+ years      NaN
                             unknown/missing                           NaN
                             niu (not in universe)                     NaN
Name: incearn, Length: 3560, dtype: float64

In [16]:
"""
data_mexico['CLASSWK'].replace(to_replace= 0, value='NIU (not in universe)', inplace=True)
data_mexico['CLASSWK'].replace(to_replace= 1, value='Self-employed', inplace=True)
data_mexico['CLASSWK'].replace(to_replace= 2, value='Wage/salary worker', inplace=True)
data_mexico['CLASSWK'].replace(to_replace= 3, value='Unpaid worker', inplace=True)
data_mexico['CLASSWK'].replace(to_replace= 4, value='Other', inplace=True)
data_mexico['CLASSWK'].replace(to_replace= 9, value='Unknown/missing', inplace=True)
"""

## Median of incwage by year and sector

In [15]:
print("\nMean of incwage by year and sector\n")
print(data_mexico.groupby(['year','indgen', 'classwk'])['incearn'].mean())

Mean of incwage by year and sector

year  indgen                 classwk
1960  Agriculture            niu (not in universe)          263.25
                             self-employed                  279.42
                             wage/salary worker             355.56
                             unpaid worker                   12.99
                             unknown/missing                   NaN
      Industry               niu (not in universe)          282.54
                             self-employed                  678.78
                             wage/salary worker             669.37
                             unpaid worker                  101.51
                             unknown/missing                   NaN
      Unskilled service      niu (not in universe)          632.62
                             self-employed                  724.71
                             wage/salary worker             565.27
                             unpaid worker                   29.02
                             unknown/missing                   NaN
      Skilled service        niu (not in universe)          731.58
                             self-employed                1,215.88
                             wage/salary worker             911.75
                             unpaid worker                   57.63
                             unknown/missing                   NaN
      other industry, n.e.c  niu (not in universe)             NaN
                             self-employed                     NaN
                             wage/salary worker                NaN
                             unpaid worker                     NaN
                             unknown/missing                   NaN
1970  Agriculture            niu (not in universe)             NaN
                             self-employed                     NaN
                             wage/salary worker                NaN
                             unpaid worker                     NaN
                             unknown/missing                   NaN
      Industry               niu (not in universe)             NaN
                             self-employed                     NaN
                             wage/salary worker                NaN
                             unpaid worker                     NaN
                             unknown/missing                   NaN
      Unskilled service      niu (not in universe)             NaN
                             self-employed                     NaN
                             wage/salary worker                NaN
                             unpaid worker                     NaN
                             unknown/missing                   NaN
      Skilled service        niu (not in universe)             NaN
                             self-employed                     NaN
                             wage/salary worker                NaN
                             unpaid worker                     NaN
                             unknown/missing                   NaN
      other industry, n.e.c  niu (not in universe)             NaN
                             self-employed                     NaN
                             wage/salary worker                NaN
                             unpaid worker                     NaN
                             unknown/missing                   NaN
1990  Agriculture            niu (not in universe)             NaN
                             self-employed            8,567,865.95
                             wage/salary worker       2,961,588.86
                             unpaid worker              128,310.07
                             unknown/missing         11,848,810.98
      Industry               niu (not in universe)             NaN
                             self-employed            5,066,922.64
                             wage/salary worker       2,479,785.12
                             unpaid worker              524,658.96
                             unknown/missing          6,528,333.80
      Unskilled service      niu (not in universe)             NaN
                             self-employed            6,369,033.38
                             wage/salary worker       2,918,940.13
                             unpaid worker              942,679.01
                             unknown/missing          7,265,726.57
      Skilled service        niu (not in universe)             NaN
                             self-employed            6,801,830.40
                             wage/salary worker       3,083,564.00
                             unpaid worker            1,350,590.86
                             unknown/missing          8,937,806.38
      other industry, n.e.c  niu (not in universe)             NaN
                             self-employed                     NaN
                             wage/salary worker                NaN
                             unpaid worker                     NaN
                             unknown/missing                   NaN
1995  Agriculture            niu (not in universe)             NaN
                             self-employed            6,929,728.17
                             wage/salary worker       5,636,673.88
                             unpaid worker               94,809.19
                             unknown/missing          3,757,899.91
      Industry               niu (not in universe)             NaN
                             self-employed            5,201,319.53
                             wage/salary worker       4,957,674.23
                             unpaid worker              112,233.44
                             unknown/missing         12,195,939.43
      Unskilled service      niu (not in universe)             NaN
                             self-employed            7,053,488.24
                             wage/salary worker       5,416,126.28
                             unpaid worker               33,806.63
                             unknown/missing          3,847,069.56
      Skilled service        niu (not in universe)             NaN
                             self-employed            7,212,128.71
                             wage/salary worker       5,809,383.54
                             unpaid worker              299,401.19
                             unknown/missing         19,000,698.00
      other industry, n.e.c  niu (not in universe)             NaN
                             self-employed                     NaN
                             wage/salary worker                NaN
                             unpaid worker                     NaN
                             unknown/missing                   NaN
2000  Agriculture            niu (not in universe)             NaN
                             self-employed            3,438,769.35
                             wage/salary worker       3,064,360.71
                             unpaid worker                    0.00
                             unknown/missing         25,254,069.97
      Industry               niu (not in universe)             NaN
                             self-employed            6,324,112.42
                             wage/salary worker       3,380,014.98
                             unpaid worker                    0.00
                             unknown/missing         30,195,351.36
      Unskilled service      niu (not in universe)             NaN
                             self-employed            6,855,790.37
                             wage/salary worker       3,421,122.19
                             unpaid worker                    0.00
                             unknown/missing         28,283,185.38
      Skilled service        niu (not in universe)             NaN
                             self-employed            8,209,386.31
                             wage/salary worker       3,463,666.92
                             unpaid worker                    0.00
                             unknown/missing         36,782,600.41
      other industry, n.e.c  niu (not in universe)             NaN
                             self-employed           80,001,998.40
                             wage/salary worker       4,747,417.38
                             unpaid worker                     NaN
                             unknown/missing         16,677,255.17
2005  Agriculture            niu (not in universe)             NaN
                             self-employed                     NaN
                             wage/salary worker                NaN
                             unpaid worker                     NaN
                             unknown/missing                   NaN
      Industry               niu (not in universe)             NaN
                             self-employed                     NaN
                             wage/salary worker                NaN
                             unpaid worker                     NaN
                             unknown/missing                   NaN
      Unskilled service      niu (not in universe)             NaN
                             self-employed                     NaN
                             wage/salary worker                NaN
                             unpaid worker                     NaN
                             unknown/missing                   NaN
      Skilled service        niu (not in universe)             NaN
                             self-employed                     NaN
                             wage/salary worker                NaN
                             unpaid worker                     NaN
                             unknown/missing                   NaN
      other industry, n.e.c  niu (not in universe)             NaN
                             self-employed                     NaN
                             wage/salary worker                NaN
                             unpaid worker                     NaN
                             unknown/missing                   NaN
2010  Agriculture            niu (not in universe)             NaN
                             self-employed            4,344,584.79
                             wage/salary worker       6,663,789.70
                             unpaid worker                    0.00
                             unknown/missing         12,007,139.16
      Industry               niu (not in universe)             NaN
                             self-employed            7,041,654.33
                             wage/salary worker       5,728,768.83
                             unpaid worker                    0.00
                             unknown/missing         12,721,740.92
      Unskilled service      niu (not in universe)             NaN
                             self-employed            8,496,719.23
                             wage/salary worker       6,187,468.07
                             unpaid worker                    0.00
                             unknown/missing         14,318,689.81
      Skilled service        niu (not in universe)             NaN
                             self-employed            9,905,243.19
                             wage/salary worker       6,203,489.15
                             unpaid worker                    0.00
                             unknown/missing         15,515,228.05
      other industry, n.e.c  niu (not in universe)             NaN
                             self-employed                     NaN
                             wage/salary worker                NaN
                             unpaid worker                     NaN
                             unknown/missing                   NaN
2015  Agriculture            niu (not in universe)             NaN
                             self-employed           38,608,108.75
                             wage/salary worker       8,949,224.45
                             unpaid worker                    0.00
                             unknown/missing         43,615,599.69
      Industry               niu (not in universe)             NaN
                             self-employed            8,935,917.46
                             wage/salary worker       7,399,475.73
                             unpaid worker                    0.00
                             unknown/missing         23,770,576.50
      Unskilled service      niu (not in universe)             NaN
                             self-employed            9,069,772.53
                             wage/salary worker       6,820,403.57
                             unpaid worker                    0.00
                             unknown/missing         24,411,405.57
      Skilled service        niu (not in universe)             NaN
                             self-employed            9,858,058.43
                             wage/salary worker       7,556,729.12
                             unpaid worker                    0.00
                             unknown/missing         23,419,103.44
      other industry, n.e.c  niu (not in universe)             NaN
                             self-employed                     NaN
                             wage/salary worker                NaN
                             unpaid worker                     NaN
                             unknown/missing                   NaN
Name: incearn, dtype: float64

In [16]:
print("\nMedian of incwage by year and sector\n")
print(data_mexico.groupby(['year','indgen', 'classwk'])['incearn'].median())

Median of incwage by year and sector

year  indgen                 classwk
1960  Agriculture            niu (not in universe)            0.00
                             self-employed                    1.00
                             wage/salary worker             210.00
                             unpaid worker                    0.00
                             unknown/missing                   NaN
      Industry               niu (not in universe)          120.00
                             self-employed                  300.00
                             wage/salary worker             406.00
                             unpaid worker                    0.00
                             unknown/missing                   NaN
      Unskilled service      niu (not in universe)          300.00
                             self-employed                  300.00
                             wage/salary worker             300.00
                             unpaid worker                    0.00
                             unknown/missing                   NaN
      Skilled service        niu (not in universe)          500.00
                             self-employed                  500.00
                             wage/salary worker             600.00
                             unpaid worker                    0.00
                             unknown/missing                   NaN
      other industry, n.e.c  niu (not in universe)             NaN
                             self-employed                     NaN
                             wage/salary worker                NaN
                             unpaid worker                     NaN
                             unknown/missing                   NaN
1970  Agriculture            niu (not in universe)             NaN
                             self-employed                     NaN
                             wage/salary worker                NaN
                             unpaid worker                     NaN
                             unknown/missing                   NaN
      Industry               niu (not in universe)             NaN
                             self-employed                     NaN
                             wage/salary worker                NaN
                             unpaid worker                     NaN
                             unknown/missing                   NaN
      Unskilled service      niu (not in universe)             NaN
                             self-employed                     NaN
                             wage/salary worker                NaN
                             unpaid worker                     NaN
                             unknown/missing                   NaN
      Skilled service        niu (not in universe)             NaN
                             self-employed                     NaN
                             wage/salary worker                NaN
                             unpaid worker                     NaN
                             unknown/missing                   NaN
      other industry, n.e.c  niu (not in universe)             NaN
                             self-employed                     NaN
                             wage/salary worker                NaN
                             unpaid worker                     NaN
                             unknown/missing                   NaN
1990  Agriculture            niu (not in universe)             NaN
                             self-employed              129,000.00
                             wage/salary worker         258,000.00
                             unpaid worker                    0.00
                             unknown/missing            215,000.00
      Industry               niu (not in universe)             NaN
                             self-employed              600,000.00
                             wage/salary worker         430,000.00
                             unpaid worker                    0.00
                             unknown/missing            396,875.00
      Unskilled service      niu (not in universe)             NaN
                             self-employed              600,000.00
                             wage/salary worker         400,000.00
                             unpaid worker                    0.00
                             unknown/missing            387,000.00
      Skilled service        niu (not in universe)             NaN
                             self-employed              800,000.00
                             wage/salary worker         516,000.00
                             unpaid worker                    0.00
                             unknown/missing            500,000.00
      other industry, n.e.c  niu (not in universe)             NaN
                             self-employed                     NaN
                             wage/salary worker                NaN
                             unpaid worker                     NaN
                             unknown/missing                   NaN
1995  Agriculture            niu (not in universe)             NaN
                             self-employed                  257.00
                             wage/salary worker             600.00
                             unpaid worker                    0.00
                             unknown/missing                300.00
      Industry               niu (not in universe)             NaN
                             self-employed                  857.00
                             wage/salary worker             857.00
                             unpaid worker                    0.00
                             unknown/missing                643.00
      Unskilled service      niu (not in universe)             NaN
                             self-employed                  857.00
                             wage/salary worker             857.00
                             unpaid worker                    0.00
                             unknown/missing                429.00
      Skilled service        niu (not in universe)             NaN
                             self-employed                  900.00
                             wage/salary worker           1,200.00
                             unpaid worker                    0.00
                             unknown/missing                643.00
      other industry, n.e.c  niu (not in universe)             NaN
                             self-employed                     NaN
                             wage/salary worker                NaN
                             unpaid worker                     NaN
                             unknown/missing                   NaN
2000  Agriculture            niu (not in universe)             NaN
                             self-employed                    0.00
                             wage/salary worker           1,071.00
                             unpaid worker                    0.00
                             unknown/missing                857.00
      Industry               niu (not in universe)             NaN
                             self-employed                1,714.00
                             wage/salary worker           2,057.00
                             unpaid worker                    0.00
                             unknown/missing              2,143.00
      Unskilled service      niu (not in universe)             NaN
                             self-employed                1,714.00
                             wage/salary worker           1,714.00
                             unpaid worker                    0.00
                             unknown/missing              1,714.00
      Skilled service        niu (not in universe)             NaN
                             self-employed                3,429.00
                             wage/salary worker           3,000.00
                             unpaid worker                    0.00
                             unknown/missing              4,600.00
      other industry, n.e.c  niu (not in universe)             NaN
                             self-employed           99,999,998.00
                             wage/salary worker           6,000.00
                             unpaid worker                     NaN
                             unknown/missing             10,000.00
2005  Agriculture            niu (not in universe)             NaN
                             self-employed                     NaN
                             wage/salary worker                NaN
                             unpaid worker                     NaN
                             unknown/missing                   NaN
      Industry               niu (not in universe)             NaN
                             self-employed                     NaN
                             wage/salary worker                NaN
                             unpaid worker                     NaN
                             unknown/missing                   NaN
      Unskilled service      niu (not in universe)             NaN
                             self-employed                     NaN
                             wage/salary worker                NaN
                             unpaid worker                     NaN
                             unknown/missing                   NaN
      Skilled service        niu (not in universe)             NaN
                             self-employed                     NaN
                             wage/salary worker                NaN
                             unpaid worker                     NaN
                             unknown/missing                   NaN
      other industry, n.e.c  niu (not in universe)             NaN
                             self-employed                     NaN
                             wage/salary worker                NaN
                             unpaid worker                     NaN
                             unknown/missing                   NaN
2010  Agriculture            niu (not in universe)             NaN
                             self-employed                    0.00
                             wage/salary worker           2,571.00
                             unpaid worker                    0.00
                             unknown/missing                167.00
      Industry               niu (not in universe)             NaN
                             self-employed                3,429.00
                             wage/salary worker           3,857.00
                             unpaid worker                    0.00
                             unknown/missing              3,857.00
      Unskilled service      niu (not in universe)             NaN
                             self-employed                3,000.00
                             wage/salary worker           3,429.00
                             unpaid worker                    0.00
                             unknown/missing              3,214.00
      Skilled service        niu (not in universe)             NaN
                             self-employed                5,000.00
                             wage/salary worker           5,400.00
                             unpaid worker                    0.00
                             unknown/missing              5,600.00
      other industry, n.e.c  niu (not in universe)             NaN
                             self-employed                     NaN
                             wage/salary worker                NaN
                             unpaid worker                     NaN
                             unknown/missing                   NaN
2015  Agriculture            niu (not in universe)             NaN
                             self-employed                4,286.00
                             wage/salary worker           3,000.00
                             unpaid worker                    0.00
                             unknown/missing              4,286.00
      Industry               niu (not in universe)             NaN
                             self-employed                4,286.00
                             wage/salary worker           4,286.00
                             unpaid worker                    0.00
                             unknown/missing              5,143.00
      Unskilled service      niu (not in universe)             NaN
                             self-employed                3,429.00
                             wage/salary worker           3,857.00
                             unpaid worker                    0.00
                             unknown/missing              4,286.00
      Skilled service        niu (not in universe)             NaN
                             self-employed                5,143.00
                             wage/salary worker           6,000.00
                             unpaid worker                    0.00
                             unknown/missing              7,600.00
      other industry, n.e.c  niu (not in universe)             NaN
                             self-employed                     NaN
                             wage/salary worker                NaN
                             unpaid worker                     NaN
                             unknown/missing                   NaN
Name: incearn, dtype: float64

In [18]:
data_mexico['indgen'].unique()

['Agriculture', 'Industry', 'Unskilled service', 'Skilled service', 'other industry, n.e.c', NaN]
Categories (5, object): ['Agriculture' < 'Industry' < 'Unskilled service' < 'Skilled service' < 'other industry, n.e.c']

In [19]:
data_mexico.shape

(23905802, 19)

In [54]:
data_mexico['yrschool'].replace(to_replace= ['none or pre-school'], value = 0, inplace=True)
data_mexico['yrschool'].replace(to_replace= ['1 year'], value = 1, inplace=True)
data_mexico['yrschool'].replace(to_replace= ['2 years'], value = 2, inplace=True)
data_mexico['yrschool'].replace(to_replace= ['3 years'], value = 3 , inplace=True)
data_mexico['yrschool'].replace(to_replace= ['4 years'], value = 4, inplace=True)
data_mexico['yrschool'].replace(to_replace= ['5 years'], value = 5, inplace=True)
data_mexico['yrschool'].replace(to_replace= ['6 years'], value = 6 , inplace=True)
data_mexico['yrschool'].replace(to_replace= ['7 years'], value = 7, inplace=True)
data_mexico['yrschool'].replace(to_replace= ['8 years'], value = 8, inplace=True)
data_mexico['yrschool'].replace(to_replace= ['9 years'], value = 9 , inplace=True)
data_mexico['yrschool'].replace(to_replace= ['10 years'], value = 10, inplace=True)
data_mexico['yrschool'].replace(to_replace= ['11 years'], value = 11, inplace=True)
data_mexico['yrschool'].replace(to_replace= ['12 years'], value = 12, inplace=True)
data_mexico['yrschool'].replace(to_replace= ['13 years'], value = 13, inplace=True)
data_mexico['yrschool'].replace(to_replace= ['14 years'], value = 14, inplace=True)
data_mexico['yrschool'].replace(to_replace= ['15 years'], value = 15, inplace=True)
data_mexico['yrschool'].replace(to_replace= ['16 years'], value = 16, inplace=True)
data_mexico['yrschool'].replace(to_replace= ['17 years'], value = 17, inplace=True)
data_mexico['yrschool'].replace(to_replace= ['18 years or more'], value = 18 , inplace=True)

data_mexico['yrschool'].replace(to_replace= ['not specified'], value = 90, inplace=True)
data_mexico['yrschool'].replace(to_replace= ['some primary'], value = 91, inplace=True)
data_mexico['yrschool'].replace(to_replace= ['some technical after primary'], value = 92, inplace=True)
data_mexico['yrschool'].replace(to_replace= ['some secondary'], value = 93, inplace=True)
data_mexico['yrschool'].replace(to_replace= ['some tertiary'], value = 94, inplace=True)
data_mexico['yrschool'].replace(to_replace= ['adult literacy'], value = 95, inplace=True)
data_mexico['yrschool'].replace(to_replace= ['special education'], value = 96, inplace=True)
data_mexico['yrschool'].replace(to_replace= ['unknown/missing'], value = 98, inplace=True)
data_mexico['yrschool'].replace(to_replace= ['niu (not in universe)'], value = 99, inplace=True)

In [61]:
# calculting mincer returns 
# use sector dummy and sex as control 

data_reg = pd.get_dummies(data_mexico, columns=['indgen', 'sex'], drop_first=True)
data_reg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23905802 entries, 0 to 53103006
Data columns (total 23 columns):
 #   Column                        Dtype
---  ------                        -----
 0   country                       category
 1   year                          category
 2   sample                        category
 3   serial                        float64
 4   hhwt                          int16
 5   pernum                        int16
 6   perwt                         int16
 7   age                           category
 8   edattain                      category
 9   edattaind                     category
 10  yrschool                      category
 11  educmx                        category
 12  empstat                       category
 13  empstatd                      category
 14  classwk                       category
 15  classwkd                      category
 16  incearn                       float64
 17  indgen_Industry               uint8
 18  indgen_Unskilled service      uint8
 19  indgen_Skilled service        uint8
 20  indgen_other industry, n.e.c  uint8
 21  sex_female                    uint8
 22  sex_unknown                   uint8
dtypes: category(12), float64(2), int16(3), uint8(6)
memory usage: 1.6 GB

In [56]:
data_reg.yrschool.unique()

[4, 0, 2, 3, 1, ..., 99, 91, 94, 93, 92]
Length: 25
Categories (25, int64): [0 < 1 < 2 < 3 ... 93 < 94 < 98 < 99]

Transformation is required for years of schooling

In [24]:
# transforming variables in edattain 
"""
data_reg['educin'].replace(to_replace=['illiterate, less than primary'], value = 0 , inplace=True)
data_reg['educin'].replace(to_replace=['literate, less than primary'], value = 2 , inplace=True)
data_reg['educin'].replace(to_replace=['primary'], value = 5 , inplace=True)
data_reg['educin'].replace(to_replace=['middle'], value = 8 , inplace=True)
data_reg['educin'].replace(to_replace=['secondary'], value = 10 , inplace=True)
data_reg['educin'].replace(to_replace=['higher secondary'], value = 12 , inplace=True)
data_reg['educin'].replace(to_replace=['undergraduate or graduate'], value = 15 , inplace=True)
data_reg['educin'].replace(to_replace=['unknown'], value = 99 , inplace=True)
"""

"\ndata_reg['educin'].replace(to_replace=['illiterate, less than primary'], value = 0 , inplace=True)\ndata_reg['educin'].replace(to_replace=['literate, less than primary'], value = 2 , inplace=True)\ndata_reg['educin'].replace(to_replace=['primary'], value = 5 , inplace=True)\ndata_reg['educin'].replace(to_replace=['middle'], value = 8 , inplace=True)\ndata_reg['educin'].replace(to_replace=['secondary'], value = 10 , inplace=True)\ndata_reg['educin'].replace(to_replace=['higher secondary'], value = 12 , inplace=True)\ndata_reg['educin'].replace(to_replace=['undergraduate or graduate'], value = 15 , inplace=True)\ndata_reg['educin'].replace(to_replace=['unknown'], value = 99 , inplace=True)\n"

In [57]:
data_reg.head()

  country  year       sample   serial  hhwt  pernum  perwt age                     edattain               edattaind yrschool                          educmx empstat empstatd             classwk               classwkd  incearn  indgen_Industry  indgen_Unskilled service  indgen_Skilled service  indgen_other industry, n.e.c  sex_female  sex_unknown
0  mexico  1960  mexico 1960 1,000.00    67       1     67  18  less than primary completed  some primary completed        4                primary, 4 years     NaN      NaN       self-employed  member of cooperative   120.00                0                         0                       0                             0           0            0
1  mexico  1960  mexico 1960 2,000.00    67       1     67  50  less than primary completed            no schooling        0  none, or never attended school     NaN      NaN       self-employed  member of cooperative   180.00                0                         0                       0                             0           0            0
2  mexico  1960  mexico 1960 3,000.00    67       1     67  19  less than primary completed  some primary completed        2                primary, 2 years     NaN      NaN  wage/salary worker            day laborer     0.00                0                         0                       0                             0           0            0
3  mexico  1960  mexico 1960 4,000.00    67       1     67  22  less than primary completed  some primary completed        2                primary, 2 years     NaN      NaN  wage/salary worker            day laborer     0.00                0                         0                       0                             0           0            0
4  mexico  1960  mexico 1960 5,000.00    67       1     67  32  less than primary completed  some primary completed        4                primary, 4 years     NaN      NaN  wage/salary worker            day laborer     0.00                0                         0                       0                             0           0            0

In [62]:
data_reg = data_reg.loc[data_reg.yrschool.isin([4,  0,  2,  3,  1,  6,  5, 12, 11,  8,  9, 15,  7, 13, 10,
       14, 17, 18, 16])]

In [63]:
data_reg.head()

  country  year       sample   serial  hhwt  pernum  perwt age                     edattain               edattaind yrschool                          educmx empstat empstatd             classwk               classwkd  incearn  indgen_Industry  indgen_Unskilled service  indgen_Skilled service  indgen_other industry, n.e.c  sex_female  sex_unknown
0  mexico  1960  mexico 1960 1,000.00    67       1     67  18  less than primary completed  some primary completed        4                primary, 4 years     NaN      NaN       self-employed  member of cooperative   120.00                0                         0                       0                             0           0            0
1  mexico  1960  mexico 1960 2,000.00    67       1     67  50  less than primary completed            no schooling        0  none, or never attended school     NaN      NaN       self-employed  member of cooperative   180.00                0                         0                       0                             0           0            0
2  mexico  1960  mexico 1960 3,000.00    67       1     67  19  less than primary completed  some primary completed        2                primary, 2 years     NaN      NaN  wage/salary worker            day laborer     0.00                0                         0                       0                             0           0            0
3  mexico  1960  mexico 1960 4,000.00    67       1     67  22  less than primary completed  some primary completed        2                primary, 2 years     NaN      NaN  wage/salary worker            day laborer     0.00                0                         0                       0                             0           0            0
4  mexico  1960  mexico 1960 5,000.00    67       1     67  32  less than primary completed  some primary completed        4                primary, 4 years     NaN      NaN  wage/salary worker            day laborer     0.00                0                         0                       0                             0           0            0

In [71]:
data_reg =  data_reg[data_reg['incearn'] != 0]

In [72]:
data_reg.shape

(20661693, 23)

In [73]:
data_reg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20661693 entries, 0 to 53103006
Data columns (total 23 columns):
 #   Column                        Dtype
---  ------                        -----
 0   country                       category
 1   year                          category
 2   sample                        category
 3   serial                        float64
 4   hhwt                          int16
 5   pernum                        int16
 6   perwt                         int16
 7   age                           category
 8   edattain                      category
 9   edattaind                     category
 10  yrschool                      category
 11  educmx                        category
 12  empstat                       category
 13  empstatd                      category
 14  classwk                       category
 15  classwkd                      category
 16  incearn                       float64
 17  indgen_Industry               uint8
 18  indgen_Unskilled service      uint8
 19  indgen_Skilled service        uint8
 20  indgen_other industry, n.e.c  uint8
 21  sex_female                    uint8
 22  sex_unknown                   uint8
dtypes: category(12), float64(2), int16(3), uint8(6)
memory usage: 945.8 MB

In [74]:
# Weekly income 
Y = data_reg[['year', 'incearn']]
X = data_reg[['year', 'sex_female', 'sex_unknown','yrschool', 'indgen_Industry', 
                    'indgen_Unskilled service', 'indgen_Skilled service']]

print(Y.shape)
print(X.shape)

(20661693, 2)
(20661693, 7)

In [75]:
data_mexico.year.unique()

['1960', '1970', '1990', '1995', '2000', '2005', '2010', '2015']
Categories (8, object): ['1960' < '1970' < '1990' < '1995' < '2000' < '2005' < '2010' < '2015']

In [78]:
# year 1960
Y_1960 = Y.loc[Y.year == '1960']['incearn']
X_1960 = X.loc[X.year == '1960']
X_1960_1 = X_1960[['sex_female', 'indgen_Industry', 'indgen_Unskilled service', 'indgen_Skilled service']]
print(X_1960_1.shape)
print(Y_1960.shape) 

# regression of log wage on sector and sex 
reg_1 = sm.OLS(endog= np.log(Y_1960), exog= sm.add_constant(X_1960_1))
result_1 = reg_1.fit()
print(result_1.summary())

# for calculting mincer returns - adding years of schooling 
X_1960_2 = X_1960[['sex_female', 'yrschool','indgen_Industry', 'indgen_Unskilled service', 'indgen_Skilled service']]
reg_2 = sm.OLS(endog= np.log(Y_1960), exog= sm.add_constant(X_1960_2))
result_2 = reg_2.fit()
print(result_2.summary())
result_2

(72852, 4)
(72852,)
                            OLS Regression Results
==============================================================================
Dep. Variable:                incearn   R-squared:                       0.202
Model:                            OLS   Adj. R-squared:                  0.202
Method:                 Least Squares   F-statistic:                     4605.
Date:                Sun, 19 Dec 2021   Prob (F-statistic):               0.00
Time:                        18:09:14   Log-Likelihood:            -1.4508e+05
No. Observations:               72852   AIC:                         2.902e+05
Df Residuals:                   72847   BIC:                         2.902e+05
Df Model:                           4
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                        3.9356      0.014    286.121      0.000       3.909       3.963
sex_female                  -0.6318      0.017    -36.951      0.000      -0.665      -0.598
indgen_Industry              2.0526      0.018    112.929      0.000       2.017       2.088
indgen_Unskilled service     1.9039      0.019    100.073      0.000       1.867       1.941
indgen_Skilled service       2.5915      0.022    118.079      0.000       2.548       2.635
==============================================================================
Omnibus:                    17056.825   Durbin-Watson:                   1.083
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            40266.439
Skew:                          -1.315   Prob(JB):                         0.00
Kurtosis:                       5.520   Cond. No.                         5.33
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/usr/local/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)
/usr/local/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

                            OLS Regression Results
==============================================================================
Dep. Variable:                incearn   R-squared:                       0.240
Model:                            OLS   Adj. R-squared:                  0.240
Method:                 Least Squares   F-statistic:                     4602.
Date:                Sun, 19 Dec 2021   Prob (F-statistic):               0.00
Time:                        18:09:15   Log-Likelihood:            -1.4330e+05
No. Observations:               72852   AIC:                         2.866e+05
Df Residuals:                   72846   BIC:                         2.867e+05
Df Model:                           5
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                        3.7253      0.014    268.693      0.000       3.698       3.752
sex_female                  -0.5862      0.017    -35.096      0.000      -0.619      -0.553
yrschool                     0.1246      0.002     60.521      0.000       0.121       0.129
indgen_Industry              1.7740      0.018     96.816      0.000       1.738       1.810
indgen_Unskilled service     1.6250      0.019     84.958      0.000       1.588       1.662
indgen_Skilled service       1.9227      0.024     79.782      0.000       1.875       1.970
==============================================================================
Omnibus:                    19522.792   Durbin-Watson:                   1.095
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            52506.402
Skew:                          -1.441   Prob(JB):                         0.00
Kurtosis:                       5.999   Cond. No.                         26.3
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [80]:
# year 1990
Y_1990 = Y.loc[Y.year == '1990']['incearn']
X_1990 = X.loc[X.year == '1990']
X_1990_1 = X_1990[['sex_female', 'indgen_Industry', 'indgen_Unskilled service', 'indgen_Skilled service']]
print(X_1990_1.shape)
print(Y_1990.shape) 

# regression of log wage on sector and sex 
reg_3 = sm.OLS(endog= np.log(Y_1990), exog= sm.add_constant(X_1990_1))
result_3 = reg_3.fit()
print(result_3.summary())

# for calculting mincer returns - adding years of schooling 
X_1990_2 = X_1990[['sex_female', 'yrschool','indgen_Industry', 'indgen_Unskilled service', 'indgen_Skilled service']]
reg_4 = sm.OLS(endog= np.log(Y_1990), exog= sm.add_constant(X_1990_2))
result_4 = reg_4.fit()
print(result_4.summary())

(2071241, 4)
(2071241,)

/usr/local/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

                            OLS Regression Results
==============================================================================
Dep. Variable:                incearn   R-squared:                       0.022
Model:                            OLS   Adj. R-squared:                  0.022
Method:                 Least Squares   F-statistic:                 1.167e+04
Date:                Sun, 19 Dec 2021   Prob (F-statistic):               0.00
Time:                        18:15:05   Log-Likelihood:            -3.9085e+06
No. Observations:             2071241   AIC:                         7.817e+06
Df Residuals:                 2071236   BIC:                         7.817e+06
Df Model:                           4
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                       12.7067      0.003   4981.283      0.000      12.702      12.712
sex_female                  -0.2906      0.003   -107.223      0.000      -0.296      -0.285
indgen_Industry              0.4401      0.003    134.442      0.000       0.434       0.447
indgen_Unskilled service     0.5402      0.003    156.560      0.000       0.533       0.547
indgen_Skilled service       0.7152      0.003    204.549      0.000       0.708       0.722
==============================================================================
Omnibus:                   338683.661   Durbin-Watson:                   1.547
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          7043285.762
Skew:                           0.007   Prob(JB):                         0.00
Kurtosis:                      12.034   Cond. No.                         5.73
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/usr/local/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

                            OLS Regression Results
==============================================================================
Dep. Variable:                incearn   R-squared:                       0.049
Model:                            OLS   Adj. R-squared:                  0.049
Method:                 Least Squares   F-statistic:                 2.128e+04
Date:                Sun, 19 Dec 2021   Prob (F-statistic):               0.00
Time:                        18:15:08   Log-Likelihood:            -3.8797e+06
No. Observations:             2071241   AIC:                         7.759e+06
Df Residuals:                 2071235   BIC:                         7.760e+06
Df Model:                           5
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                       12.4713      0.003   4623.136      0.000      12.466      12.477
sex_female                  -0.3063      0.003   -114.571      0.000      -0.312      -0.301
yrschool                     0.0646      0.000    241.710      0.000       0.064       0.065
indgen_Industry              0.2377      0.003     71.274      0.000       0.231       0.244
indgen_Unskilled service     0.3281      0.004     93.373      0.000       0.321       0.335
indgen_Skilled service       0.3091      0.004     80.572      0.000       0.302       0.317
==============================================================================
Omnibus:                   350870.320   Durbin-Watson:                   1.577
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          7910666.626
Skew:                           0.039   Prob(JB):                         0.00
Kurtosis:                      12.574   Cond. No.                         44.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [82]:
# year 1995
Y_1995 = Y.loc[Y.year == '1995']['incearn']
X_1995 = X.loc[X.year == '1995']
X_1995_1 = X_1995[['sex_female', 'indgen_Industry', 'indgen_Unskilled service', 'indgen_Skilled service']]
print(X_1995_1.shape)
print(Y_1995.shape) 

# regression of log wage on sector and sex 
reg_5 = sm.OLS(endog= np.log(Y_1995), exog= sm.add_constant(X_1995_1))
result_5 = reg_5.fit()
print(result_5.summary())

# for calculting mincer returns - adding years of schooling 
X_1995_2 = X_1995[['sex_female', 'yrschool','indgen_Industry', 'indgen_Unskilled service', 'indgen_Skilled service']]
reg_6 = sm.OLS(endog= np.log(Y_1995), exog= sm.add_constant(X_1995_2))
result_6 = reg_6.fit()
print(result_6.summary())

(105945, 4)
(105945,)
                            OLS Regression Results
==============================================================================
Dep. Variable:                incearn   R-squared:                       0.019
Model:                            OLS   Adj. R-squared:                  0.019
Method:                 Least Squares   F-statistic:                     526.5
Date:                Sun, 19 Dec 2021   Prob (F-statistic):               0.00
Time:                        18:17:00   Log-Likelihood:            -2.6441e+05
No. Observations:              105945   AIC:                         5.288e+05
Df Residuals:                  105940   BIC:                         5.289e+05
Df Model:                           4
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                        6.9977      0.019    360.265      0.000       6.960       7.036
sex_female                  -0.7707      0.021    -37.376      0.000      -0.811      -0.730
indgen_Industry              0.5055      0.027     18.976      0.000       0.453       0.558
indgen_Unskilled service     0.7063      0.027     25.808      0.000       0.653       0.760
indgen_Skilled service       0.9978      0.027     36.772      0.000       0.945       1.051
==============================================================================
Omnibus:                    67151.754   Durbin-Watson:                   1.691
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           549236.563
Skew:                           3.126   Prob(JB):                         0.00
Kurtosis:                      12.238   Cond. No.                         5.54
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/usr/local/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)
/usr/local/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

                            OLS Regression Results
==============================================================================
Dep. Variable:                incearn   R-squared:                       0.043
Model:                            OLS   Adj. R-squared:                  0.043
Method:                 Least Squares   F-statistic:                     946.5
Date:                Sun, 19 Dec 2021   Prob (F-statistic):               0.00
Time:                        18:17:00   Log-Likelihood:            -2.6314e+05
No. Observations:              105945   AIC:                         5.263e+05
Df Residuals:                  105939   BIC:                         5.264e+05
Df Model:                           5
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                        6.5443      0.021    309.132      0.000       6.503       6.586
sex_female                  -0.6906      0.020    -33.798      0.000      -0.731      -0.651
yrschool                     0.1092      0.002     50.745      0.000       0.105       0.113
indgen_Industry              0.1709      0.027      6.297      0.000       0.118       0.224
indgen_Unskilled service     0.3068      0.028     10.893      0.000       0.252       0.362
indgen_Skilled service       0.3689      0.030     12.492      0.000       0.311       0.427
==============================================================================
Omnibus:                    69039.244   Durbin-Watson:                   1.717
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           598947.468
Skew:                           3.218   Prob(JB):                         0.00
Kurtosis:                      12.708   Cond. No.                         42.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [84]:
# year 2000
Y_2000 = Y.loc[Y.year == '2000']['incearn']
X_2000 = X.loc[X.year == '2000']
X_2000_1 = X_2000[['sex_female', 'indgen_Industry', 'indgen_Unskilled service', 'indgen_Skilled service']]
print(X_2000_1.shape)
print(Y_2000.shape) 

# regression of log wage on sector and sex 
reg_7 = sm.OLS(endog= np.log(Y_2000), exog= sm.add_constant(X_2000_1))
result_7 = reg_7.fit()
print(result_7.summary())

# for calculting mincer returns - adding years of schooling 
X_2000_2 = X_2000[['sex_female', 'yrschool','indgen_Industry', 'indgen_Unskilled service', 'indgen_Skilled service']]
reg_8 = sm.OLS(endog= np.log(Y_2000), exog= sm.add_constant(X_2000_2))
result_8 = reg_8.fit()
print(result_8.summary())

(2750892, 4)
(2750892,)

/usr/local/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

                            OLS Regression Results
==============================================================================
Dep. Variable:                incearn   R-squared:                       0.016
Model:                            OLS   Adj. R-squared:                  0.016
Method:                 Least Squares   F-statistic:                 1.102e+04
Date:                Sun, 19 Dec 2021   Prob (F-statistic):               0.00
Time:                        18:20:07   Log-Likelihood:            -6.3570e+06
No. Observations:             2750892   AIC:                         1.271e+07
Df Residuals:                 2750887   BIC:                         1.271e+07
Df Model:                           4
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                        7.5496      0.004   2073.850      0.000       7.542       7.557
sex_female                  -0.2182      0.003    -65.636      0.000      -0.225      -0.212
indgen_Industry              0.5494      0.005    121.016      0.000       0.540       0.558
indgen_Unskilled service     0.5758      0.005    123.233      0.000       0.567       0.585
indgen_Skilled service       1.0054      0.005    208.041      0.000       0.996       1.015
==============================================================================
Omnibus:                  1981576.130   Durbin-Watson:                   1.686
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         23803716.961
Skew:                           3.538   Prob(JB):                         0.00
Kurtosis:                      15.554   Cond. No.                         6.19
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/usr/local/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

                            OLS Regression Results
==============================================================================
Dep. Variable:                incearn   R-squared:                       0.038
Model:                            OLS   Adj. R-squared:                  0.038
Method:                 Least Squares   F-statistic:                 2.184e+04
Date:                Sun, 19 Dec 2021   Prob (F-statistic):               0.00
Time:                        18:20:10   Log-Likelihood:            -6.3254e+06
No. Observations:             2750892   AIC:                         1.265e+07
Df Residuals:                 2750886   BIC:                         1.265e+07
Df Model:                           5
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                        7.1492      0.004   1818.607      0.000       7.141       7.157
sex_female                  -0.2195      0.003    -66.795      0.000      -0.226      -0.213
yrschool                     0.0912      0.000    253.130      0.000       0.090       0.092
indgen_Industry              0.2777      0.005     60.173      0.000       0.269       0.287
indgen_Unskilled service     0.2652      0.005     55.494      0.000       0.256       0.275
indgen_Skilled service       0.3716      0.005     68.886      0.000       0.361       0.382
==============================================================================
Omnibus:                  2045926.152   Durbin-Watson:                   1.712
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         26484326.341
Skew:                           3.671   Prob(JB):                         0.00
Kurtosis:                      16.310   Cond. No.                         50.6
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [85]:
# year 2010
Y_2010 = Y.loc[Y.year == '2010']['incearn']
X_2010 = X.loc[X.year == '2010']
X_2010_1 = X_2010[['sex_female', 'indgen_Industry', 'indgen_Unskilled service', 'indgen_Skilled service']]
print(X_2010_1.shape)
print(Y_2010.shape) 

# regression of log wage on sector and sex 
reg_9 = sm.OLS(endog= np.log(Y_2010), exog= sm.add_constant(X_2010_1))
result_9 = reg_9.fit()
print(result_9.summary())

# for calculting mincer returns - adding years of schooling 
X_2010_2 = X_2010[['sex_female', 'yrschool','indgen_Industry', 'indgen_Unskilled service', 'indgen_Skilled service']]
reg_10 = sm.OLS(endog= np.log(Y_2010), exog= sm.add_constant(X_2010_2))
result_10 = reg_10.fit()
print(result_10.summary())

(3186033, 4)
(3186033,)

/usr/local/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

                            OLS Regression Results
==============================================================================
Dep. Variable:                incearn   R-squared:                       0.011
Model:                            OLS   Adj. R-squared:                  0.011
Method:                 Least Squares   F-statistic:                     8830.
Date:                Sun, 19 Dec 2021   Prob (F-statistic):               0.00
Time:                        18:21:00   Log-Likelihood:            -7.8237e+06
No. Observations:             3186033   AIC:                         1.565e+07
Df Residuals:                 3186028   BIC:                         1.565e+07
Df Model:                           4
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                        8.5961      0.004   2335.293      0.000       8.589       8.603
sex_female                  -0.4542      0.004   -126.266      0.000      -0.461      -0.447
indgen_Industry              0.2847      0.005     59.259      0.000       0.275       0.294
indgen_Unskilled service     0.4103      0.005     84.063      0.000       0.401       0.420
indgen_Skilled service       0.8062      0.005    158.593      0.000       0.796       0.816
==============================================================================
Omnibus:                  1779800.286   Durbin-Watson:                   1.591
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         10612037.606
Skew:                           2.791   Prob(JB):                         0.00
Kurtosis:                       9.984   Cond. No.                         5.96
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/usr/local/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

                            OLS Regression Results
==============================================================================
Dep. Variable:                incearn   R-squared:                       0.024
Model:                            OLS   Adj. R-squared:                  0.024
Method:                 Least Squares   F-statistic:                 1.577e+04
Date:                Sun, 19 Dec 2021   Prob (F-statistic):               0.00
Time:                        18:21:03   Log-Likelihood:            -7.8024e+06
No. Observations:             3186033   AIC:                         1.560e+07
Df Residuals:                 3186027   BIC:                         1.560e+07
Df Model:                           5
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                        8.1696      0.004   1947.606      0.000       8.161       8.178
sex_female                  -0.4550      0.004   -127.346      0.000      -0.462      -0.448
yrschool                     0.0806      0.000    207.471      0.000       0.080       0.081
indgen_Industry              0.0889      0.005     18.275      0.000       0.079       0.098
indgen_Unskilled service     0.1664      0.005     33.356      0.000       0.157       0.176
indgen_Skilled service       0.2692      0.006     47.440      0.000       0.258       0.280
==============================================================================
Omnibus:                  1819717.872   Durbin-Watson:                   1.609
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         11299774.625
Skew:                           2.853   Prob(JB):                         0.00
Kurtosis:                      10.251   Cond. No.                         50.5
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [86]:
# year 2015
Y_2015 = Y.loc[Y.year == '2015']['incearn']
X_2015 = X.loc[X.year == '2015']
X_2015_1 = X_2015[['sex_female', 'indgen_Industry', 'indgen_Unskilled service', 'indgen_Skilled service']]
print(X_2015_1.shape)
print(Y_2015.shape) 

# regression of log wage on sector and sex 
reg_11 = sm.OLS(endog= np.log(Y_2015), exog= sm.add_constant(X_2015_1))
result_11 = reg_11.fit()
print(result_11.summary())

# for calculting mincer returns - adding years of schooling 
X_2015_2 = X_2015[['sex_female', 'yrschool','indgen_Industry', 'indgen_Unskilled service', 'indgen_Skilled service']]
reg_12 = sm.OLS(endog= np.log(Y_2015), exog= sm.add_constant(X_2015_2))
result_12 = reg_12.fit()
print(result_12.summary())

(3386402, 4)
(3386402,)

/usr/local/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

                            OLS Regression Results
==============================================================================
Dep. Variable:                incearn   R-squared:                       0.016
Model:                            OLS   Adj. R-squared:                  0.016
Method:                 Least Squares   F-statistic:                 1.380e+04
Date:                Sun, 19 Dec 2021   Prob (F-statistic):               0.00
Time:                        18:22:17   Log-Likelihood:            -8.7253e+06
No. Observations:             3386402   AIC:                         1.745e+07
Df Residuals:                 3386397   BIC:                         1.745e+07
Df Model:                           4
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                        9.9979      0.004   2614.767      0.000       9.990      10.005
sex_female                  -0.3024      0.004    -75.693      0.000      -0.310      -0.295
indgen_Industry             -0.8228      0.005   -159.784      0.000      -0.833      -0.813
indgen_Unskilled service    -0.9185      0.005   -176.564      0.000      -0.929      -0.908
indgen_Skilled service      -0.4535      0.005    -83.395      0.000      -0.464      -0.443
==============================================================================
Omnibus:                  1412404.283   Durbin-Watson:                   1.689
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          4757143.350
Skew:                           2.220   Prob(JB):                         0.00
Kurtosis:                       6.741   Cond. No.                         5.68
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/usr/local/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

                            OLS Regression Results
==============================================================================
Dep. Variable:                incearn   R-squared:                       0.022
Model:                            OLS   Adj. R-squared:                  0.022
Method:                 Least Squares   F-statistic:                 1.535e+04
Date:                Sun, 19 Dec 2021   Prob (F-statistic):               0.00
Time:                        18:22:20   Log-Likelihood:            -8.7147e+06
No. Observations:             3386402   AIC:                         1.743e+07
Df Residuals:                 3386396   BIC:                         1.743e+07
Df Model:                           5
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                        9.6283      0.005   2102.137      0.000       9.619       9.637
sex_female                  -0.3153      0.004    -79.168      0.000      -0.323      -0.308
yrschool                     0.0633      0.000    145.566      0.000       0.062       0.064
indgen_Industry             -0.9812      0.005   -186.983      0.000      -0.991      -0.971
indgen_Unskilled service    -1.1034      0.005   -206.664      0.000      -1.114      -1.093
indgen_Skilled service      -0.8674      0.006   -141.703      0.000      -0.879      -0.855
==============================================================================
Omnibus:                  1432619.963   Durbin-Watson:                   1.694
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          4917430.384
Skew:                           2.246   Prob(JB):                         0.00
Kurtosis:                       6.830   Cond. No.                         50.6
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [109]:
from statsmodels.iolib.summary2 import summary_col

results_table_1  = summary_col(results = [result_1, result_2, result_3, result_4, result_5, result_6],
                              float_format= '%0.2f',
                              model_names=['1960(unadj.)', '1960(adj.)',
                                           '1990(unadj.)', '1990(adj.)',
                                           '1995(unadj.)', '1995(adj.)'],
                              regressor_order=["const" ,"sex_female", "yrschool", 
                                                  "indgen_Industry", "indgen_Unskilled service",
                                                  "indgen_Skilled service"],
                              drop_omitted=True,
                              stars = True)
results_table_1.add_title(title = "Mexico : Mincer Return - Results from Earnings Regressions", results= None)
print(results_table_1)

                   Mexico : Mincer Return - Results from Earnings Regressions
================================================================================================
                         1960(unadj.) 1960(adj.) 1990(unadj.) 1990(adj.) 1995(unadj.) 1995(adj.)
------------------------------------------------------------------------------------------------
const                    12.71***     12.47***   12.71***     12.47***   7.00***      6.54***
                         (0.00)       (0.00)     (0.00)       (0.00)     (0.02)       (0.02)
sex_female               -0.29***     -0.31***   -0.29***     -0.31***   -0.77***     -0.69***
                         (0.00)       (0.00)     (0.00)       (0.00)     (0.02)       (0.02)
yrschool                              0.06***                 0.06***                 0.11***
                                      (0.00)                  (0.00)                  (0.00)
indgen_Industry          0.44***      0.24***    0.44***      0.24***    0.51***      0.17***
                         (0.00)       (0.00)     (0.00)       (0.00)     (0.03)       (0.03)
indgen_Unskilled service 0.54***      0.33***    0.54***      0.33***    0.71***      0.31***
                         (0.00)       (0.00)     (0.00)       (0.00)     (0.03)       (0.03)
indgen_Skilled service   0.72***      0.31***    0.72***      0.31***    1.00***      0.37***
                         (0.00)       (0.00)     (0.00)       (0.00)     (0.03)       (0.03)
R-squared                0.02         0.05       0.02         0.05       0.02         0.04
R-squared Adj.           0.02         0.05       0.02         0.05       0.02         0.04
================================================================================================
Standard errors in parentheses.
* p<.1, ** p<.05, ***p<.01

In [110]:
data_reg.year.unique()

['1960', '1970', '1990', '1995', '2000', '2005', '2010', '2015']
Categories (8, object): ['1960' < '1970' < '1990' < '1995' < '2000' < '2005' < '2010' < '2015']

In [111]:
results_table_2  = summary_col(results = [result_7, result_8, result_9, result_10, result_11, result_12],
                              float_format= '%0.2f',
                              model_names=['2000(unadj.)', '2000(adj.)',
                                           '2010(unadj.)', '2010(adj.)',
                                           '2015(unadj.)', '2015(adj.)'],
                              regressor_order=["const" ,"sex_female", "yrschool", 
                                                  "indgen_Industry", "indgen_Unskilled service",
                                                  "indgen_Skilled service"],
                              drop_omitted=True,
                              stars = True)
results_table_2.add_title(title = "Mexico : Mincer Return - Results from Earnings Regressions", results= None)
print(results_table_2)

                   Mexico : Mincer Return - Results from Earnings Regressions
================================================================================================
                         2000(unadj.) 2000(adj.) 2010(unadj.) 2010(adj.) 2015(unadj.) 2015(adj.)
------------------------------------------------------------------------------------------------
const                    7.55***      7.15***    8.60***      8.17***    10.00***     9.63***
                         (0.00)       (0.00)     (0.00)       (0.00)     (0.00)       (0.00)
sex_female               -0.22***     -0.22***   -0.45***     -0.45***   -0.30***     -0.32***
                         (0.00)       (0.00)     (0.00)       (0.00)     (0.00)       (0.00)
yrschool                              0.09***                 0.08***                 0.06***
                                      (0.00)                  (0.00)                  (0.00)
indgen_Industry          0.55***      0.28***    0.28***      0.09***    -0.82***     -0.98***
                         (0.00)       (0.00)     (0.00)       (0.00)     (0.01)       (0.01)
indgen_Unskilled service 0.58***      0.27***    0.41***      0.17***    -0.92***     -1.10***
                         (0.00)       (0.00)     (0.00)       (0.00)     (0.01)       (0.01)
indgen_Skilled service   1.01***      0.37***    0.81***      0.27***    -0.45***     -0.87***
                         (0.00)       (0.01)     (0.01)       (0.01)     (0.01)       (0.01)
R-squared                0.02         0.04       0.01         0.02       0.02         0.02
R-squared Adj.           0.02         0.04       0.01         0.02       0.02         0.02
================================================================================================
Standard errors in parentheses.
* p<.1, ** p<.05, ***p<.01

In [112]:
print(results_table_1.as_latex())

\begin{table}
\caption{Mexico : Mincer Return - Results from Earnings Regressions}
\label{}
\begin{center}
\begin{tabular}{lllllll}
\hline
                          & 1960(unadj.) & 1960(adj.) & 1990(unadj.) & 1990(adj.) & 1995(unadj.) & 1995(adj.)  \\
\hline
const                     & 12.71***     & 12.47***   & 12.71***     & 12.47***   & 7.00***      & 6.54***     \\
                          & (0.00)       & (0.00)     & (0.00)       & (0.00)     & (0.02)       & (0.02)      \\
sex\_female               & -0.29***     & -0.31***   & -0.29***     & -0.31***   & -0.77***     & -0.69***    \\
                          & (0.00)       & (0.00)     & (0.00)       & (0.00)     & (0.02)       & (0.02)      \\
yrschool                  &              & 0.06***    &              & 0.06***    &              & 0.11***     \\
                          &              & (0.00)     &              & (0.00)     &              & (0.00)      \\
indgen\_Industry          & 0.44***      & 0.24***    & 0.44***      & 0.24***    & 0.51***      & 0.17***     \\
                          & (0.00)       & (0.00)     & (0.00)       & (0.00)     & (0.03)       & (0.03)      \\
indgen\_Unskilled service & 0.54***      & 0.33***    & 0.54***      & 0.33***    & 0.71***      & 0.31***     \\
                          & (0.00)       & (0.00)     & (0.00)       & (0.00)     & (0.03)       & (0.03)      \\
indgen\_Skilled service   & 0.72***      & 0.31***    & 0.72***      & 0.31***    & 1.00***      & 0.37***     \\
                          & (0.00)       & (0.00)     & (0.00)       & (0.00)     & (0.03)       & (0.03)      \\
R-squared                 & 0.02         & 0.05       & 0.02         & 0.05       & 0.02         & 0.04        \\
R-squared Adj.            & 0.02         & 0.05       & 0.02         & 0.05       & 0.02         & 0.04        \\
\hline
\end{tabular}
\end{center}
\end{table}

In [105]:
print(results_table_2.as_latex())

\begin{table}
\caption{Mexico : Mincer Return - Results from Earnings Regressions}
\label{}
\begin{center}
\begin{tabular}{lllllll}
\hline
                          & 2000(unadj.) & 2000(adj.) & 2010(unadj.) & 2010(adj.) & 2015(unadj.) & 2015(adj.)  \\
\hline
const                     & 7.55***      & 7.15***    & 8.60***      & 8.17***    & 10.00***     & 9.63***     \\
                          & (0.00)       & (0.00)     & (0.00)       & (0.00)     & (0.00)       & (0.00)      \\
sex\_female               & -0.22***     & -0.22***   & -0.45***     & -0.45***   & -0.30***     & -0.32***    \\
                          & (0.00)       & (0.00)     & (0.00)       & (0.00)     & (0.00)       & (0.00)      \\
yrschool                  &              & 0.09***    &              & 0.08***    &              & 0.06***     \\
                          &              & (0.00)     &              & (0.00)     &              & (0.00)      \\
indgen\_Industry          & 0.55***      & 0.28***    & 0.28***      & 0.09***    & -0.82***     & -0.98***    \\
                          & (0.00)       & (0.00)     & (0.00)       & (0.00)     & (0.01)       & (0.01)      \\
indgen\_Unskilled service & 0.58***      & 0.27***    & 0.41***      & 0.17***    & -0.92***     & -1.10***    \\
                          & (0.00)       & (0.00)     & (0.00)       & (0.00)     & (0.01)       & (0.01)      \\
indgen\_Skilled service   & 1.01***      & 0.37***    & 0.81***      & 0.27***    & -0.45***     & -0.87***    \\
                          & (0.00)       & (0.01)     & (0.01)       & (0.01)     & (0.01)       & (0.01)      \\
R-squared                 & 0.02         & 0.04       & 0.01         & 0.02       & 0.02         & 0.02        \\
R-squared Adj.            & 0.02         & 0.04       & 0.01         & 0.02       & 0.02         & 0.02        \\
\hline
\end{tabular}
\end{center}
\end{table}