In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
# reading dataset for india IPUMS
data_Vietnam = pd.read_stata('/users/quasar/downloads/ipumsi_00006.dta')
data_Vietnam.groupby('year').count()

      country  sample  serial    hhwt  pernum   perwt     age     sex  school  yrschool  educin  empstat  empstatd  indgen  classwk  classwkd  incwage
year
1983   533077  533077  533077  533077  533077  533077  533077  533077  533077    533077  533077   533077    533077  533077   533077    533077   533077
1987   576197  576197  576197  576197  576197  576197  576197  576197  576197         0  576197   576197    576197  576197   576197    576197   576197
1993   491484  491484  491484  491484  491484  491484  491484  491484  491484         0  491484   491484    491484  491484   491484    491484   491484
2004   533151  533151  533151  533151  533151  533151  533151  533151  533151         0  533151   533151    533151  533151   533151    533151   533151

## Sector in economy - Agriculture, Industry, Unskilled services, Skilled services

In [4]:
data_india.head(50)

    COUNTRY  YEAR     SAMPLE  SERIAL     HHWT  PERNUM    PERWT  AGE  SEX  LIT  EDATTAIN  EDATTAIND  YRSCHOOL  EMPSTAT  EMPSTATD  LABFORCE  OCCISCO  INDGEN  CLASSWK  CLASSWKD  INCWAGE
0       356  1983  356198341    1000 1,159.00       1 1,159.00   32    1    2         3        311     11.00        1       110         2        3     100        2       200   155.00
1       356  1983  356198341    1000 1,159.00       2 1,159.00   28    2    2         2        221     10.00        3       310         1       99       0        0         0     0.00
2       356  1983  356198341    1000 1,159.00       3 1,159.00    6    2    2         1        120      1.00        3       330         9       99       0        0         0     0.00
3       356  1983  356198341    2000 1,159.00       1 1,159.00   40    1    1         1        110      0.00        1       110         2        6      10        1       100     0.00
4       356  1983  356198341    2000 1,159.00       2 1,159.00   34    2    1         1        110      0.00        3       310         1       99       0        0         0     0.00
5       356  1983  356198341    2000 1,159.00       3 1,159.00    9    2    2         2        211      5.00        3       330         9       99       0        0         0     0.00
6       356  1983  356198341    2000 1,159.00       4 1,159.00    7    1    2         1        120      3.00        3       330         9       99       0        0         0     0.00
7       356  1983  356198341    3000 1,159.00       1 1,159.00   86    2    1         1        110      1.00        1       110         2        7      30        1       100     0.00
8       356  1983  356198341    4000 1,159.00       1 1,159.00   50    1    1         1        110      0.00        1       110         2        9      10        2       206    35.00
9       356  1983  356198341    4000 1,159.00       2 1,159.00   46    2    1         1        110      0.00        3       310         1       99       0        0         0     0.00
10      356  1983  356198341    4000 1,159.00       3 1,159.00   20    1    1         1        110      0.00        1       110         2        9      10        2       206    35.00
11      356  1983  356198341    4000 1,159.00       4 1,159.00   15    2    1         1        110      0.00        3       390         1       99       0        2       206     0.00
12      356  1983  356198341    4000 1,159.00       5 1,159.00   16    2    1         1        110      0.00        1       110         2        9      10        2       206     9.00
13      356  1983  356198341    4000 1,159.00       6 1,159.00   14    1    1         1        110      0.00        1       110         9        9      10        2       206     9.00
14      356  1983  356198341    4000 1,159.00       7 1,159.00   12    1    2         1        120      1.00        3       330         9       99       0        0         0     0.00
15      356  1983  356198341    5000 1,159.00       1 1,159.00   55    1    1         1        110      0.00        1       110         2        9      10        2       206    42.00
16      356  1983  356198341    5000 1,159.00       2 1,159.00   50    2    1         1        110      0.00        3       310         1       99       0        0         0     0.00
17      356  1983  356198341    5000 1,159.00       3 1,159.00   22    2    1         1        110      0.00        3       310         1       99       0        0         0     0.00
18      356  1983  356198341    5000 1,159.00       4 1,159.00   14    2    1         1        110      0.00        3       310         9       99       0        0         0     0.00
19      356  1983  356198341    5000 1,159.00       5 1,159.00    8    1    1         1        110      0.00        3       391         9       99       0        0         0     0.00
20      356  1983  356198341    5000 1,159.00       6 1,159.00    5    2    1         1        110      0.00        3       391         9       99       0        0         0     0.00
21      356  1983  356198341    6000 1,159.00       1 1,159.00   50    1    1         1        110      0.00        1       110         2        7      20        2       206    35.00
22      356  1983  356198341    6000 1,159.00       2 1,159.00   46    2    1         1        110      0.00        1       110         2        7      20        2       206    35.00
23      356  1983  356198341    6000 1,159.00       3 1,159.00   20    1    1         1        110      0.00        1       110         2        7      20        2       206    35.00
24      356  1983  356198341    6000 1,159.00       4 1,159.00   16    2    1         1        110      0.00        3       310         1       99       0        0         0     0.00
25      356  1983  356198341    7000 1,159.00       1 1,159.00   47    1    1         1        110      0.00        1       110         2        7      20        2       206    42.00
26      356  1983  356198341    7000 1,159.00       2 1,159.00   42    2    1         1        110      0.00        1       110         2        9      10        2       206    14.00
27      356  1983  356198341    8000 1,159.00       1 1,159.00   30    1    1         1        110      0.00        1       110         2        7      20        2       206    40.00
28      356  1983  356198341    8000 1,159.00       2 1,159.00   25    2    1         1        110      0.00        1       110         2        9      10        2       206     0.00
29      356  1983  356198341    8000 1,159.00       3 1,159.00    7    1    2         1        120      2.00        3       330         9       99       0        0         0     0.00
30      356  1983  356198341    9000 1,159.00       1 1,159.00   44    1    1         1        110      0.00        1       110         2        7      20        2       206    42.00
31      356  1983  356198341    9000 1,159.00       2 1,159.00   40    2    1         1        110      0.00        3       310         1       99       0        0         0     0.00
32      356  1983  356198341    9000 1,159.00       3 1,159.00   68    2    1         1        110      0.00        3       351         1       99       0        0         0     0.00
33      356  1983  356198341   10000 1,159.00       1 1,159.00   89    1    1         1        110      0.00        3       340         1       99       0        0         0     0.00
34      356  1983  356198341   10000 1,159.00       2 1,159.00   73    2    1         1        110      0.00        3       340         1       99       0        0         0     0.00
35      356  1983  356198341   10000 1,159.00       3 1,159.00   12    2    1         1        110      0.00        3       310         9       99       0        0         0     0.00
36      356  1983  356198341   11000 1,128.00       1 1,128.00   45    1    1         1        110      0.00        1       110         2        9      10        2       206    12.00
37      356  1983  356198341   11000 1,128.00       2 1,128.00   35    2    1         1        110      0.00        1       110         2        9      10        2       206     3.00
38      356  1983  356198341   11000 1,128.00       3 1,128.00   15    1    1         1        110      0.00        1       110         2        9      10        2       206    12.00
39      356  1983  356198341   11000 1,128.00       4 1,128.00   13    1    1         1        110      0.00        1       110         9        6      10        4       400     0.00
40      356  1983  356198341   11000 1,128.00       5 1,128.00   12    1    1         1        110      0.00        3       310         9       99       0        0         0     0.00
41      356  1983  356198341   12000 1,128.00       1 1,128.00   30    1    1         1        110      0.00        1       110         2        9      10        2       206    35.00
42      356  1983  356198341   12000 1,128.00       2 1,128.00   24    2    1         1        110      0.00        3       310         1       99       0        0         0     0.00
43      356  1983  356198341   13000 1,128.00       1 1,128.00   32    1    1         1        110      0.00        1       110         2        6      10        1       100     0.00
44      356  1983  356198341   13000 1,128.00       2 1,128.00   28    2    1         1        110      0.00        3       310         1       99       0        0         0     0.00
45      356  1983  356198341   14000 1,128.00       1 1,128.00   45    1    1         1        110      0.00        1       110         2        6      10        1       100     0.00
46      356  1983  356198341   14000 1,128.00       2 1,128.00   40    2    1         1        110      0.00        1       110         2        6      10        3       310     0.00
47      356  1983  356198341   14000 1,128.00       3 1,128.00   18    1    2         1        110      0.00        3       322         1       99       0        3       310     0.00
48      356  1983  356198341   14000 1,128.00       4 1,128.00   22    2    1         1        110      0.00        1       110         2        6      10        3       310     0.00
49      356  1983  356198341   14000 1,128.00       5 1,128.00   26    1    1         1        110      0.00        1       110         2        6      10        3       310     0.00

In [5]:
data_india['indgen'].replace(to_replace=['agriculture, fishing, and forestry'], value='Agriculture', inplace=True)
data_india['indgen'].replace(to_replace=['construction', 'manufacturing' ,'mining and extraction'], value='Industry', inplace=True)
data_india['indgen'].replace(to_replace=['hotels and restaurants','private household services',
                    'transportation, storage, and communications', 'wholesale and retail trade'], 
                    value='Unskilled service', inplace=True)
data_india['indgen'].replace(to_replace=['education', 'financial services and insurance','health and social work',
                    'public administration and defense',
                    'other services', 'business services and real estate', 
                    'electricity, gas, water and waste management' ], 
                    value='Skilled service', inplace=True)

indexNames = data_india[data_india['indgen'].isin(['unknown', 'niu (not in universe)'])].index
data_india = data_india.drop(indexNames)
data_india['indgen'].replace(to_replace=['niu (not in universe)', 'unknown'], value='Agriculture', inplace=True)
print("\nSector by labour share % ")
share = data_india.groupby('year')['indgen'].value_counts(normalize=True)
share

KeyError: 'indgen'

## Mean of incwage (Wage) by year and sector

In [5]:
print("\nMean of incwage by year and sector\n")
print(data_india.groupby(['year','indgen', 'educin'])['incwage'].mean())

Mean of incwage by year and sector

year  indgen             educin
1983  Agriculture        illiterate, less than primary   3,552.44
                         literate, less than primary     1,350.23
                         primary                         1,348.10
                         middle                              9.02
                         secondary                       2,796.10
                         higher secondary                     NaN
                         undergraduate or graduate          15.32
                         unknown                            11.36
      Industry           illiterate, less than primary   6,953.51
                         literate, less than primary     5,805.33
                         primary                         1,603.22
                         middle                          2,260.04
                         secondary                       3,054.23
                         higher secondary                     NaN
                         undergraduate or graduate         219.23
                         unknown                            37.47
      Unskilled service  illiterate, less than primary      22.65
                         literate, less than primary        32.61
                         primary                         1,861.78
                         middle                          3,954.17
                         secondary                       2,404.94
                         higher secondary                     NaN
                         undergraduate or graduate          96.32
                         unknown                            40.94
      Skilled service    illiterate, less than primary      42.19
                         literate, less than primary        62.76
                         primary                            81.02
                         middle                            110.31
                         secondary                       1,544.77
                         higher secondary                     NaN
                         undergraduate or graduate         232.78
                         unknown                           151.71
1987  Agriculture        illiterate, less than primary      12.07
                         literate, less than primary         3.78
                         primary                             6.45
                         middle                              5.62
                         secondary                           4.88
                         higher secondary                     NaN
                         undergraduate or graduate          14.64
                         unknown                             2.40
      Industry           illiterate, less than primary      43.19
                         literate, less than primary        73.60
                         primary                            92.98
                         middle                             74.49
                         secondary                         186.13
                         higher secondary                     NaN
                         undergraduate or graduate         305.59
                         unknown                            22.92
      Unskilled service  illiterate, less than primary      47.36
                         literate, less than primary        47.02
                         primary                            50.59
                         middle                             65.63
                         secondary                          92.54
                         higher secondary                     NaN
                         undergraduate or graduate         158.88
                         unknown                            22.00
      Skilled service    illiterate, less than primary      66.03
                         literate, less than primary        76.61
                         primary                            95.04
                         middle                            130.94
                         secondary                         215.86
                         higher secondary                     NaN
                         undergraduate or graduate         389.57
                         unknown                           197.62
1993  Agriculture        illiterate, less than primary      39.22
                         literate, less than primary        38.66
                         primary                            32.95
                         middle                             25.66
                         secondary                          20.16
                         higher secondary                   24.42
                         undergraduate or graduate          32.69
                         unknown                            35.07
      Industry           illiterate, less than primary     110.51
                         literate, less than primary       141.31
                         primary                           139.61
                         middle                            180.98
                         secondary                         274.66
                         higher secondary                  336.24
                         undergraduate or graduate         584.59
                         unknown                           266.11
      Unskilled service  illiterate, less than primary      67.76
                         literate, less than primary        85.23
                         primary                            94.50
                         middle                            110.33
                         secondary                         144.03
                         higher secondary                  163.14
                         undergraduate or graduate         216.20
                         unknown                           312.75
      Skilled service    illiterate, less than primary     121.15
                         literate, less than primary       151.00
                         primary                           178.91
                         middle                            252.96
                         secondary                         434.90
                         higher secondary                  477.45
                         undergraduate or graduate         682.32
                         unknown                           209.90
2004  Agriculture        illiterate, less than primary      67.33
                         literate, less than primary        71.29
                         primary                            60.85
                         middle                             47.98
                         secondary                          40.08
                         higher secondary                   51.76
                         undergraduate or graduate          86.78
                         unknown                            83.15
      Industry           illiterate, less than primary     212.25
                         literate, less than primary       257.13
                         primary                           266.95
                         middle                            312.40
                         secondary                         416.00
                         higher secondary                  481.74
                         undergraduate or graduate       1,130.84
                         unknown                            18.00
      Unskilled service  illiterate, less than primary     128.27
                         literate, less than primary       154.80
                         primary                           179.61
                         middle                            220.79
                         secondary                         259.41
                         higher secondary                  278.75
                         undergraduate or graduate         527.97
                         unknown                            96.00
      Skilled service    illiterate, less than primary     276.90
                         literate, less than primary       509.06
                         primary                           617.49
                         middle                            761.77
                         secondary                       1,136.91
                         higher secondary                1,280.33
                         undergraduate or graduate       1,757.08
                         unknown                         1,203.89
Name: incwage, dtype: float64

## Median of incwage by year and sector

In [6]:
print("\nMean of incwage by year and sector\n")
print(data_india.groupby(['year','indgen', 'classwk'])['incwage'].mean())

Mean of incwage by year and sector

year  indgen             classwk
1983  Agriculture        niu (not in universe)    3,789.27
                         self-employed            1,354.08
                         wage/salary worker       2,768.13
                         unpaid worker            5,193.31
                         other                       51.69
                         unknown/missing               NaN
      Industry           niu (not in universe)   10,025.66
                         self-employed            1,891.12
                         wage/salary worker       6,559.96
                         unpaid worker                3.78
                         other                       31.53
                         unknown/missing               NaN
      Unskilled service  niu (not in universe)       23.42
                         self-employed            1,430.28
                         wage/salary worker       1,881.04
                         unpaid worker                3.53
                         other                       35.83
                         unknown/missing               NaN
      Skilled service    niu (not in universe)   25,284.11
                         self-employed                7.32
                         wage/salary worker         168.26
                         unpaid worker                4.09
                         other                       37.17
                         unknown/missing               NaN
1987  Agriculture        niu (not in universe)        2.19
                         self-employed                1.18
                         wage/salary worker          29.47
                         unpaid worker                0.28
                         other                         NaN
                         unknown/missing              1.42
      Industry           niu (not in universe)       12.18
                         self-employed               11.50
                         wage/salary worker         145.70
                         unpaid worker               22.51
                         other                         NaN
                         unknown/missing              3.75
      Unskilled service  niu (not in universe)       16.63
                         self-employed                8.97
                         wage/salary worker         170.32
                         unpaid worker                6.18
                         other                         NaN
                         unknown/missing              0.00
      Skilled service    niu (not in universe)       36.27
                         self-employed                7.96
                         wage/salary worker         257.82
                         unpaid worker                6.56
                         other                         NaN
                         unknown/missing              0.00
1993  Agriculture        niu (not in universe)        9.07
                         self-employed                5.68
                         wage/salary worker         105.53
                         unpaid worker                3.38
                         other                         NaN
                         unknown/missing             25.00
      Industry           niu (not in universe)       28.23
                         self-employed               20.31
                         wage/salary worker         308.33
                         unpaid worker                9.25
                         other                         NaN
                         unknown/missing               NaN
      Unskilled service  niu (not in universe)       41.20
                         self-employed               15.58
                         wage/salary worker         291.36
                         unpaid worker                4.54
                         other                         NaN
                         unknown/missing               NaN
      Skilled service    niu (not in universe)       37.11
                         self-employed               23.52
                         wage/salary worker         551.89
                         unpaid worker               10.32
                         other                         NaN
                         unknown/missing               NaN
2004  Agriculture        niu (not in universe)       12.40
                         self-employed                5.73
                         wage/salary worker         245.83
                         unpaid worker                5.50
                         other                         NaN
                         unknown/missing               NaN
      Industry           niu (not in universe)       55.29
                         self-employed               14.51
                         wage/salary worker         629.77
                         unpaid worker               18.34
                         other                         NaN
                         unknown/missing               NaN
      Unskilled service  niu (not in universe)       57.80
                         self-employed                3.40
                         wage/salary worker         675.78
                         unpaid worker                3.34
                         other                         NaN
                         unknown/missing               NaN
      Skilled service    niu (not in universe)      124.12
                         self-employed               13.78
                         wage/salary worker       1,611.61
                         unpaid worker                8.26
                         other                         NaN
                         unknown/missing               NaN
Name: incwage, dtype: float64

In [7]:
print("\nMedian of incwage by year and sector\n")
print(data_india.groupby(['year','indgen', 'educin'])['incwage'].median())

Median of incwage by year and sector

year  indgen             educin
1983  Agriculture        illiterate, less than primary       0.00
                         literate, less than primary         0.00
                         primary                             0.00
                         middle                              0.00
                         secondary                           0.00
                         higher secondary                     NaN
                         undergraduate or graduate           0.00
                         unknown                             0.00
      Industry           illiterate, less than primary      20.00
                         literate, less than primary        24.00
                         primary                            28.00
                         middle                             40.00
                         secondary                          84.00
                         higher secondary                     NaN
                         undergraduate or graduate         175.00
                         unknown                             0.00
      Unskilled service  illiterate, less than primary       0.00
                         literate, less than primary         0.00
                         primary                             0.00
                         middle                              0.00
                         secondary                           0.00
                         higher secondary                     NaN
                         undergraduate or graduate           0.00
                         unknown                             0.00
      Skilled service    illiterate, less than primary      20.00
                         literate, less than primary        48.00
                         primary                            70.00
                         middle                            109.00
                         secondary                         160.50
                         higher secondary                     NaN
                         undergraduate or graduate         210.00
                         unknown                           150.00
1987  Agriculture        illiterate, less than primary       0.00
                         literate, less than primary         0.00
                         primary                             0.00
                         middle                              0.00
                         secondary                           0.00
                         higher secondary                     NaN
                         undergraduate or graduate           0.00
                         unknown                             0.00
      Industry           illiterate, less than primary       0.00
                         literate, less than primary         0.00
                         primary                             0.00
                         middle                              0.00
                         secondary                          30.00
                         higher secondary                     NaN
                         undergraduate or graduate         238.00
                         unknown                             0.00
      Unskilled service  illiterate, less than primary       0.00
                         literate, less than primary         0.00
                         primary                             0.00
                         middle                              0.00
                         secondary                           0.00
                         higher secondary                     NaN
                         undergraduate or graduate           0.00
                         unknown                             0.00
      Skilled service    illiterate, less than primary       0.00
                         literate, less than primary         0.00
                         primary                            12.00
                         middle                             37.00
                         secondary                         200.00
                         higher secondary                     NaN
                         undergraduate or graduate         325.00
                         unknown                            99.00
1993  Agriculture        illiterate, less than primary       0.00
                         literate, less than primary         0.00
                         primary                             0.00
                         middle                              0.00
                         secondary                           0.00
                         higher secondary                    0.00
                         undergraduate or graduate           0.00
                         unknown                             0.00
      Industry           illiterate, less than primary      70.00
                         literate, less than primary        90.00
                         primary                            84.50
                         middle                            120.00
                         secondary                         175.00
                         higher secondary                  210.00
                         undergraduate or graduate         466.00
                         unknown                           210.00
      Unskilled service  illiterate, less than primary       0.00
                         literate, less than primary         0.00
                         primary                             0.00
                         middle                              0.00
                         secondary                           0.00
                         higher secondary                    0.00
                         undergraduate or graduate           0.00
                         unknown                           301.50
      Skilled service    illiterate, less than primary      35.00
                         literate, less than primary        50.00
                         primary                            70.00
                         middle                            183.50
                         secondary                         467.00
                         higher secondary                  500.00
                         undergraduate or graduate         700.00
                         unknown                            34.50
2004  Agriculture        illiterate, less than primary       0.00
                         literate, less than primary         0.00
                         primary                             0.00
                         middle                              0.00
                         secondary                           0.00
                         higher secondary                    0.00
                         undergraduate or graduate           0.00
                         unknown                             0.00
      Industry           illiterate, less than primary     140.00
                         literate, less than primary       160.00
                         primary                           141.00
                         middle                            200.00
                         secondary                         180.00
                         higher secondary                    0.00
                         undergraduate or graduate         505.00
                         unknown                             0.00
      Unskilled service  illiterate, less than primary       0.00
                         literate, less than primary         0.00
                         primary                             0.00
                         middle                              0.00
                         secondary                           0.00
                         higher secondary                    0.00
                         undergraduate or graduate           0.00
                         unknown                             0.00
      Skilled service    illiterate, less than primary       0.00
                         literate, less than primary       300.00
                         primary                           350.00
                         middle                            500.00
                         secondary                       1,140.00
                         higher secondary                1,300.00
                         undergraduate or graduate       1,631.00
                         unknown                         1,060.00
Name: incwage, dtype: float64

In [8]:
"""
import pandas as pd

data_india = pd.read_csv('/users/quasar/downloads/ipumsi_00009.csv')
data_india.head()
"""

"\nimport pandas as pd\n\ndata_india = pd.read_csv('/users/quasar/downloads/ipumsi_00009.csv')\ndata_india.head()\n"

In [9]:
data_india['educin'].unique()

['secondary', 'illiterate, less than primary', 'literate, less than primary', 'primary', 'middle', 'undergraduate or graduate', 'unknown', 'higher secondary']
Categories (8, object): ['illiterate, less than primary' < 'literate, less than primary' < 'primary' < 'middle' < 'secondary' < 'higher secondary' < 'undergraduate or graduate' < 'unknown']

In [10]:
data_india['yrschool'].unique()

['11 years', 'none or pre-school', '4 years', '5 years', '3 years', ..., '18 years or more', '14 years', '13 years', 'unknown/missing', NaN]
Length: 21
Categories (20, object): ['none or pre-school' < '1 year' < '2 years' < '3 years' ... '16 years' < '17 years' < '18 years or more' < 'unknown/missing']

In [11]:
data_india['indgen'].unique()

['Skilled service', 'Agriculture', 'Industry', 'Unskilled service']
Categories (4, object): ['Agriculture' < 'Industry' < 'Unskilled service' < 'Skilled service']

In [12]:
data_india.shape

(874745, 18)

In [13]:
# calculting mincer returns 
# use sector dummy and sex as control 

data_reg = pd.get_dummies(data_india, columns=['indgen', 'sex'], drop_first=True)
data_reg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 874745 entries, 0 to 2133899
Data columns (total 21 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   country                   874745 non-null  category
 1   year                      874745 non-null  category
 2   sample                    874745 non-null  category
 3   serial                    874745 non-null  int32
 4   hhwt                      874745 non-null  float64
 5   pernum                    874745 non-null  int8
 6   perwt                     874745 non-null  float64
 7   age                       874745 non-null  category
 8   school                    874745 non-null  category
 9   yrschool                  214414 non-null  category
 10  educin                    874745 non-null  category
 11  empstat                   874745 non-null  category
 12  empstatd                  874745 non-null  category
 13  classwk                   874745 non-null  category
 14  classwkd                  874745 non-null  category
 15  incwage                   874745 non-null  int32
 16  indgen_Industry           874745 non-null  uint8
 17  indgen_Unskilled service  874745 non-null  uint8
 18  indgen_Skilled service    874745 non-null  uint8
 19  sex_female                874745 non-null  uint8
 20  sex_unknown               874745 non-null  uint8
dtypes: category(11), float64(2), int32(2), int8(1), uint8(5)
memory usage: 40.9 MB

In [14]:
# transforming variables in educin 
data_reg['educin'].replace(to_replace=['illiterate, less than primary'], value = 0 , inplace=True)
data_reg['educin'].replace(to_replace=['literate, less than primary'], value = 2 , inplace=True)
data_reg['educin'].replace(to_replace=['primary'], value = 5 , inplace=True)
data_reg['educin'].replace(to_replace=['middle'], value = 8 , inplace=True)
data_reg['educin'].replace(to_replace=['secondary'], value = 10 , inplace=True)
data_reg['educin'].replace(to_replace=['higher secondary'], value = 12 , inplace=True)
data_reg['educin'].replace(to_replace=['undergraduate or graduate'], value = 15 , inplace=True)
data_reg['educin'].replace(to_replace=['unknown'], value = 99 , inplace=True)

In [15]:
data_reg['year'].unique()

['1983', '1987', '1993', '2004']
Categories (4, object): ['1983' < '1987' < '1993' < '2004']

In [16]:
# Weekly income 
data_reg = data_reg.loc[data_reg.educin != 99]
data_reg =  data_reg[data_reg['incwage'] != 0]

Y = data_reg[['year', 'incwage']]
X = data_reg[['year', 'sex_female', 'sex_unknown','educin', 'indgen_Industry', 
                    'indgen_Unskilled service', 'indgen_Skilled service']]

# year 1987
Y_1987 = Y.loc[Y.year == '1987']['incwage']
X_1987 = data_reg.loc[data_reg.year == '1987']
X_1987_1 = X_1987[['sex_female',
                     'indgen_Industry', 'indgen_Unskilled service', 'indgen_Skilled service']]

In [17]:
print(X_1987_1.shape)
print(Y_1987.shape)

(52172, 4)
(52172,)

In [18]:
# regression of log wage on sector and sex 
reg_1 = sm.OLS(endog= np.log(Y_1987), exog= sm.add_constant(X_1987_1))
result_1 = reg_1.fit()
print(result_1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                incwage   R-squared:                       0.361
Model:                            OLS   Adj. R-squared:                  0.361
Method:                 Least Squares   F-statistic:                     7355.
Date:                Sat, 18 Dec 2021   Prob (F-statistic):               0.00
Time:                        15:47:45   Log-Likelihood:                -67314.
No. Observations:               52172   AIC:                         1.346e+05
Df Residuals:                   52167   BIC:                         1.347e+05
Df Model:                           4
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                        4.2479      0.011    402.508      0.000       4.227       4.269
sex_female                  -0.7053      0.009    -75.900      0.000      -0.723      -0.687
indgen_Industry              0.6727      0.012     55.993      0.000       0.649       0.696
indgen_Unskilled service     0.6774      0.013     50.417      0.000       0.651       0.704
indgen_Skilled service       1.3442      0.012    116.075      0.000       1.322       1.367
==============================================================================
Omnibus:                     7173.560   Durbin-Watson:                   1.213
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            54429.895
Skew:                          -0.437   Prob(JB):                         0.00
Kurtosis:                       7.927   Cond. No.                         6.39
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/usr/local/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [20]:
# for calculting mincer returns - adding years of schooling 
X_1987_2 = X_1987[['sex_female', 'educin',
                     'indgen_Industry', 'indgen_Unskilled service', 'indgen_Skilled service']]

reg_2 = sm.OLS(endog= np.log(Y_1987), exog= sm.add_constant(X_1987_2))
result_2 = reg_2.fit()
print(result_2.summary())
result_2

                            OLS Regression Results
==============================================================================
Dep. Variable:                incwage   R-squared:                       0.480
Model:                            OLS   Adj. R-squared:                  0.480
Method:                 Least Squares   F-statistic:                     9622.
Date:                Sat, 18 Dec 2021   Prob (F-statistic):               0.00
Time:                        15:48:24   Log-Likelihood:                -61933.
No. Observations:               52172   AIC:                         1.239e+05
Df Residuals:                   52166   BIC:                         1.239e+05
Df Model:                           5
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                        4.0385      0.010    415.908      0.000       4.019       4.058
sex_female                  -0.5256      0.009    -61.541      0.000      -0.542      -0.509
educin                       0.0894      0.001    109.320      0.000       0.088       0.091
indgen_Industry              0.4140      0.011     37.324      0.000       0.392       0.436
indgen_Unskilled service     0.3780      0.012     30.424      0.000       0.354       0.402
indgen_Skilled service       0.6639      0.012     54.605      0.000       0.640       0.688
==============================================================================
Omnibus:                    10901.685   Durbin-Watson:                   1.331
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           128510.420
Skew:                          -0.669   Prob(JB):                         0.00
Kurtosis:                      10.571   Cond. No.                         44.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/usr/local/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [21]:
Y_1993 = Y.loc[Y.year == '1993']['incwage']
X_1993 = data_reg.loc[data_reg.year == '1993']
X_1993_1 = X_1993[['sex_female', 'indgen_Industry', 'indgen_Unskilled service', 'indgen_Skilled service']]
X_1993_2 = X_1993[['sex_female', 'educin','indgen_Industry', 'indgen_Unskilled service', 'indgen_Skilled service']]  

reg_3 = sm.OLS(endog= np.log(Y_1993), exog= sm.add_constant(X_1993_1))
result_3 = reg_3.fit()
print(result_3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                incwage   R-squared:                       0.322
Model:                            OLS   Adj. R-squared:                  0.322
Method:                 Least Squares   F-statistic:                 1.017e+04
Date:                Sat, 18 Dec 2021   Prob (F-statistic):               0.00
Time:                        15:48:28   Log-Likelihood:            -1.1354e+05
No. Observations:               85671   AIC:                         2.271e+05
Df Residuals:                   85666   BIC:                         2.271e+05
Df Model:                           4
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                        4.7191      0.006    837.840      0.000       4.708       4.730
sex_female                  -0.5298      0.007    -71.905      0.000      -0.544      -0.515
indgen_Industry              0.7198      0.008     86.317      0.000       0.703       0.736
indgen_Unskilled service     0.7237      0.010     71.289      0.000       0.704       0.744
indgen_Skilled service       1.3853      0.008    173.891      0.000       1.370       1.401
==============================================================================
Omnibus:                    31228.156   Durbin-Watson:                   1.059
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           188413.532
Skew:                          -1.636   Prob(JB):                         0.00
Kurtosis:                       9.487   Cond. No.                         4.48
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/usr/local/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [22]:
reg_4 = sm.OLS(endog= np.log(Y_1993), exog= sm.add_constant(X_1993_2))
result_4 = reg_4.fit()
print(result_4.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                incwage   R-squared:                       0.401
Model:                            OLS   Adj. R-squared:                  0.401
Method:                 Least Squares   F-statistic:                 1.146e+04
Date:                Sat, 18 Dec 2021   Prob (F-statistic):               0.00
Time:                        15:48:31   Log-Likelihood:            -1.0825e+05
No. Observations:               85671   AIC:                         2.165e+05
Df Residuals:                   85665   BIC:                         2.166e+05
Df Model:                           5
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                        4.5569      0.006    826.875      0.000       4.546       4.568
sex_female                  -0.4123      0.007    -58.783      0.000      -0.426      -0.399
educin                       0.0758      0.001    106.136      0.000       0.074       0.077
indgen_Industry              0.4767      0.008     58.377      0.000       0.461       0.493
indgen_Unskilled service     0.4309      0.010     43.381      0.000       0.411       0.450
indgen_Skilled service       0.7666      0.009     80.780      0.000       0.748       0.785
==============================================================================
Omnibus:                    39621.417   Durbin-Watson:                   1.113
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           319330.940
Skew:                          -2.059   Prob(JB):                         0.00
Kurtosis:                      11.515   Cond. No.                         32.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/usr/local/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [23]:
Y_2004 = Y.loc[Y.year == '2004']['incwage']
X_2004 = data_reg.loc[data_reg.year == '2004']
X_2004_1 = X_2004[['sex_female', 'indgen_Industry', 'indgen_Unskilled service', 'indgen_Skilled service']]
X_2004_2 = X_2004[['sex_female', 'educin','indgen_Industry', 'indgen_Unskilled service', 'indgen_Skilled service']] 

reg_5 = sm.OLS(endog= np.log(Y_2004), exog= sm.add_constant(X_2004_1))
result_5 = reg_5.fit()
print(result_5.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                incwage   R-squared:                       0.436
Model:                            OLS   Adj. R-squared:                  0.436
Method:                 Least Squares   F-statistic:                 1.680e+04
Date:                Sat, 18 Dec 2021   Prob (F-statistic):               0.00
Time:                        15:48:34   Log-Likelihood:            -1.0109e+05
No. Observations:               86809   AIC:                         2.022e+05
Df Residuals:                   86804   BIC:                         2.022e+05
Df Model:                           4
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                        5.5683      0.005   1014.018      0.000       5.558       5.579
sex_female                  -0.5981      0.006    -95.338      0.000      -0.610      -0.586
indgen_Industry              0.6021      0.007     83.316      0.000       0.588       0.616
indgen_Unskilled service     0.6763      0.008     84.637      0.000       0.661       0.692
indgen_Skilled service       1.6262      0.007    226.467      0.000       1.612       1.640
==============================================================================
Omnibus:                     1671.748   Durbin-Watson:                   1.322
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3301.180
Skew:                          -0.102   Prob(JB):                         0.00
Kurtosis:                       3.933   Cond. No.                         4.92
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/usr/local/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [24]:
reg_6 = sm.OLS(endog= np.log(Y_2004), exog= sm.add_constant(X_2004_2))
result_6 = reg_6.fit()
print(result_6.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                incwage   R-squared:                       0.515
Model:                            OLS   Adj. R-squared:                  0.515
Method:                 Least Squares   F-statistic:                 1.844e+04
Date:                Sat, 18 Dec 2021   Prob (F-statistic):               0.00
Time:                        15:48:37   Log-Likelihood:                -94568.
No. Observations:               86809   AIC:                         1.891e+05
Df Residuals:                   86803   BIC:                         1.892e+05
Df Model:                           5
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                        5.3559      0.005    991.939      0.000       5.345       5.366
sex_female                  -0.4805      0.006    -81.391      0.000      -0.492      -0.469
educin                       0.0681      0.001    118.638      0.000       0.067       0.069
indgen_Industry              0.4362      0.007     63.709      0.000       0.423       0.450
indgen_Unskilled service     0.4362      0.008     56.765      0.000       0.421       0.451
indgen_Skilled service       1.0574      0.008    128.833      0.000       1.041       1.073
==============================================================================
Omnibus:                     2878.745   Durbin-Watson:                   1.400
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3957.856
Skew:                          -0.357   Prob(JB):                         0.00
Kurtosis:                       3.764   Cond. No.                         38.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/usr/local/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [25]:
from statsmodels.iolib.summary2 import summary_col

results_table  = summary_col(results = [result_1, result_2, result_3, result_4, result_5, result_6],
                              float_format= '%0.2f',
                              model_names=['1987(unadj.)', '1987(adj.)',
                                           '1993(unadj.)', '1993(adj.)',
                                           '2004(unadj.)', '2004(adj.)'],
                              regressor_order=["const" ,"sex_female", "educin", 
                                                  "indgen_Industry", "indgen_Unskilled service",
                                                  "indgen_Skilled service"],
                              drop_omitted=True,
                              stars = True)
#results_table.add_title(title = "TABLE 2: Results from Earnings Regressions", results= None)
print(results_table)

================================================================================================
                         1987(unadj.) 1987(adj.) 1993(unadj.) 1993(adj.) 2004(unadj.) 2004(adj.)
------------------------------------------------------------------------------------------------
const                    4.25***      4.04***    4.72***      4.56***    5.57***      5.36***
                         (0.01)       (0.01)     (0.01)       (0.01)     (0.01)       (0.01)
sex_female               -0.71***     -0.53***   -0.53***     -0.41***   -0.60***     -0.48***
                         (0.01)       (0.01)     (0.01)       (0.01)     (0.01)       (0.01)
educin                                0.09***                 0.08***                 0.07***
                                      (0.00)                  (0.00)                  (0.00)
indgen_Industry          0.67***      0.41***    0.72***      0.48***    0.60***      0.44***
                         (0.01)       (0.01)     (0.01)       (0.01)     (0.01)       (0.01)
indgen_Unskilled service 0.68***      0.38***    0.72***      0.43***    0.68***      0.44***
                         (0.01)       (0.01)     (0.01)       (0.01)     (0.01)       (0.01)
indgen_Skilled service   1.34***      0.66***    1.39***      0.77***    1.63***      1.06***
                         (0.01)       (0.01)     (0.01)       (0.01)     (0.01)       (0.01)
R-squared                0.36         0.48       0.32         0.40       0.44         0.52
R-squared Adj.           0.36         0.48       0.32         0.40       0.44         0.52
================================================================================================
Standard errors in parentheses.
* p<.1, ** p<.05, ***p<.01

In [29]:
print(results_table.as_latex())

\begin{table}
\caption{}
\label{}
\begin{center}
\begin{tabular}{lllllll}
\hline
                          & 1987(unadj.) & 1987(adj.) & 1993(unadj.) & 1993(adj.) & 2004(unadj.) & 2004(adj.)  \\
\hline
const                     & 4.25***      & 4.04***    & 4.72***      & 4.56***    & 5.57***      & 5.36***     \\
                          & (0.01)       & (0.01)     & (0.01)       & (0.01)     & (0.01)       & (0.01)      \\
sex\_female               & -0.71***     & -0.53***   & -0.53***     & -0.41***   & -0.60***     & -0.48***    \\
                          & (0.01)       & (0.01)     & (0.01)       & (0.01)     & (0.01)       & (0.01)      \\
educin                    &              & 0.09***    &              & 0.08***    &              & 0.07***     \\
                          &              & (0.00)     &              & (0.00)     &              & (0.00)      \\
indgen\_Industry          & 0.67***      & 0.41***    & 0.72***      & 0.48***    & 0.60***      & 0.44***     \\
                          & (0.01)       & (0.01)     & (0.01)       & (0.01)     & (0.01)       & (0.01)      \\
indgen\_Unskilled service & 0.68***      & 0.38***    & 0.72***      & 0.43***    & 0.68***      & 0.44***     \\
                          & (0.01)       & (0.01)     & (0.01)       & (0.01)     & (0.01)       & (0.01)      \\
indgen\_Skilled service   & 1.34***      & 0.66***    & 1.39***      & 0.77***    & 1.63***      & 1.06***     \\
                          & (0.01)       & (0.01)     & (0.01)       & (0.01)     & (0.01)       & (0.01)      \\
R-squared                 & 0.36         & 0.48       & 0.32         & 0.40       & 0.44         & 0.52        \\
R-squared Adj.            & 0.36         & 0.48       & 0.32         & 0.40       & 0.44         & 0.52        \\
\hline
\end{tabular}
\end{center}
\end{table}

In [26]:
Y_2004 = Y.loc[Y.year == '2004']['incwage']
X_2004 = data_reg.loc[data_reg.year == '2004']
# X_2004_1 = X_2004[['sex_female', 'indgen_Industry', 'indgen_Unskilled service', 'indgen_Skilled service']]
X_2004_2 = X_2004[['age', 'sex_female', 'educin','indgen_Industry', 'indgen_Unskilled service', 'indgen_Skilled service']] 
X_2004_2['age'] = X_2004_2['age'].astype(int)
X_2004_2['age2'] = X_2004_2['age']**2
X_2004_2

/var/folders/td/mlcv7n4s2r7619blwgv794mh0000gn/T/ipykernel_1182/590862126.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_2004_2['age'] = X_2004_2['age'].astype(int)
/var/folders/td/mlcv7n4s2r7619blwgv794mh0000gn/T/ipykernel_1182/590862126.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_2004_2['age2'] = X_2004_2['age']**2

         age  sex_female educin  indgen_Industry  indgen_Unskilled service  indgen_Skilled service  age2
1600775   45           0      0                0                         0                       0  2025
1600805   20           0      0                0                         0                       0   400
1600806   15           0      2                0                         0                       0   225
1600828   20           0      5                0                         0                       0   400
1600830   45           0      0                0                         0                       0  2025
...      ...         ...    ...              ...                       ...                     ...   ...
2133876   37           0     10                0                         0                       1  1369
2133885   43           1      0                0                         0                       0  1849
2133887   40           0     15                0                         0                       1  1600
2133890   42           0      8                0                         1                       0  1764
2133899   42           0      0                0                         1                       0  1764

[86809 rows x 7 columns]

In [27]:
reg_7 = sm.OLS(endog= np.log(Y_2004), exog= sm.add_constant(X_2004_2))
result_7 = reg_7.fit()
print(result_7.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                incwage   R-squared:                       0.564
Model:                            OLS   Adj. R-squared:                  0.564
Method:                 Least Squares   F-statistic:                 1.601e+04
Date:                Sat, 18 Dec 2021   Prob (F-statistic):               0.00
Time:                        15:48:49   Log-Likelihood:                -89992.
No. Observations:               86809   AIC:                         1.800e+05
Df Residuals:                   86801   BIC:                         1.801e+05
Df Model:                           7
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                        4.0458      0.019    212.360      0.000       4.008       4.083
age                          0.0590      0.001     55.356      0.000       0.057       0.061
sex_female                  -0.4657      0.006    -83.082      0.000      -0.477      -0.455
educin                       0.0719      0.001    130.755      0.000       0.071       0.073
indgen_Industry              0.4604      0.007     70.771      0.000       0.448       0.473
indgen_Unskilled service     0.4577      0.007     62.766      0.000       0.443       0.472
indgen_Skilled service       0.9178      0.008    115.936      0.000       0.902       0.933
age2                        -0.0006   1.41e-05    -39.273      0.000      -0.001      -0.001
==============================================================================
Omnibus:                     3596.159   Durbin-Watson:                   1.372
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5047.837
Skew:                          -0.412   Prob(JB):                         0.00
Kurtosis:                       3.846   Cond. No.                     1.37e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.37e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

/usr/local/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)