In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# pd.set_option('display.float_format', lambda x: '%.5f' % x)
# pd.options.display.float_format = '{:,.2f}'.format

pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
fao_data = pd.read_csv("/users/quasar/downloads/FAOSTAT_data_4-15-2022.csv")
fao = pd.read_csv("/users/quasar/downloads/FAOSTAT_data_4-15-2022-2.csv")
restuccia = pd.read_excel("/users/quasar/downloads/RYZ_data.xls")
pwt = pd.read_stata("/users/quasar/downloads/pwt100.dta")
pwt_labour = pd.read_stata("/users/quasar/downloads/pwt100-labor-detail.dta")

In [8]:
fao_data.Item.unique()

array(['Nutrient nitrogen N (total)', 'Nutrient phosphate P2O5 (total)',
       'Nutrient potash K2O (total)'], dtype=object)

In [3]:
fao_data.head(5)

  Domain Code                   Domain  Area Code   Area  Element Code           Element  Item Code                             Item  Year Code  Year    Unit   Value Flag                                   Flag Description
0         RFN  Fertilizers by Nutrient        100  India          5157  Agricultural Use       3102      Nutrient nitrogen N (total)       1961  1961  tonnes  249800   Qm  Official data from questionnaires and/or natio...
1         RFN  Fertilizers by Nutrient        100  India          5157  Agricultural Use       3103  Nutrient phosphate P2O5 (total)       1961  1961  tonnes   60500   Qm  Official data from questionnaires and/or natio...
2         RFN  Fertilizers by Nutrient        100  India          5157  Agricultural Use       3104      Nutrient potash K2O (total)       1961  1961  tonnes   28000   Qm  Official data from questionnaires and/or natio...
3         RFN  Fertilizers by Nutrient        100  India          5157  Agricultural Use       3104      Nutrient potash K2O (total)       1962  1962  tonnes   36400   Qm  Official data from questionnaires and/or natio...
4         RFN  Fertilizers by Nutrient        100  India          5157  Agricultural Use       3103  Nutrient phosphate P2O5 (total)       1962  1962  tonnes   82800   Qm  Official data from questionnaires and/or natio...

In [4]:
fao.head()

  Domain Code    Domain  Area Code   Area  Element Code Element  Item Code                                   Item  Year Code  Year     Unit   Value Flag                                   Flag Description
0          RL  Land Use        100  India          5110    Area       6621                            Arable land       1961  1961  1000 ha  155806    Q  Official data reported on FAO Questionnaires f...
1          RL  Land Use        100  India          5110    Area       6650             Land under permanent crops       1961  1961  1000 ha    5180    Q  Official data reported on FAO Questionnaires f...
2          RL  Land Use        100  India          5110    Area       6655  Land under perm. meadows and pastures       1961  1961  1000 ha   13966    W  Data reported on country official publications...
3          RL  Land Use        100  India          5110    Area       6655  Land under perm. meadows and pastures       1962  1962  1000 ha   14082    W  Data reported on country official publications...
4          RL  Land Use        100  India          5110    Area       6650             Land under permanent crops       1962  1962  1000 ha    5700    Q  Official data reported on FAO Questionnaires f...

In [5]:
restuccia

    Unnamed: 0         Country Code  SH#  GDP/N   GDPn/Ln   GDPa/La     Ya/La  X/Ya  La/N  Z/N    pi  ronetheta
0            1  ALGERIA         DZA    1  13434 17,999.24    891.54  1,154.10  0.23  0.27 1.55  1.02       0.28
1            2  ANGOLA          AGO    2   1742  6,406.03    168.13    198.58  0.15  0.75 0.95  2.13       0.08
2            3  ARGENTINA       ARG   73  14955 15,743.43  9,024.67 12,581.45  0.28  0.12 2.52  1.28       0.72
3            4  AUSTRALIA       AUS  145  28960 29,502.58 20,226.89 28,641.87  0.29  0.06 6.39  1.47       1.04
4            5  AUSTRIA         AUT  116  23837 25,208.09  6,164.67  9,357.42  0.34  0.07 0.43  1.45       0.58
5            6  BANGLADESH      BGD   86   4265 14,505.59    243.99    288.68  0.15  0.72 0.32  4.71       0.21
6            7  BELGIUM         BEL  117  27325 27,639.42 13,952.93 27,877.98  0.50  0.02 0.19  1.15       1.54
7            8  BOLIVIA         BOL   74   5623  9,393.03    811.04    988.83  0.18  0.44 1.13  1.44       0.27
8            9  BRAZIL          BRA   75  10977 14,466.05  1,832.04  2,502.45  0.27  0.28 1.05  2.25       0.37
9           10  BURKINA FASO    BFA    5    940  7,055.76    127.94    146.71  0.13  0.88 0.73  3.07       0.11
10          11  BURUNDI         BDI    6    986 10,743.42    210.57    241.15  0.13  0.93 0.52  2.85       0.06
11          12  CAMEROON        CMR    7   3869 10,685.52    372.99    475.51  0.22  0.66 1.80  1.80       0.11
12          13  CANADA          CAN   54  31147 32,005.71 11,608.53 21,071.93  0.45  0.04 3.65  1.10       0.85
13          14  CHAD            TCD   10   1146  4,460.52    278.46    312.17  0.11  0.79 1.76  3.93       0.35
14          15  CHILE           CHL   76   9768 10,987.94  2,254.23  3,118.32  0.28  0.14 1.01  2.64       0.64
15          16  COLOMBIA        COL   77   9276 12,629.52  1,305.86  1,759.21  0.26  0.30 0.55  2.23       0.37
16          17  COSTA RICA      CRI   55   9148 11,826.10  1,936.13  2,949.62  0.34  0.27 0.57  2.33       0.78
17          18  IVORY COAST     CIV   21   3740  8,150.78    654.77    817.44  0.20  0.59 0.87  2.77       0.29
18          19  DENMARK         DNK  121  23861 24,637.92 11,393.45 20,233.45  0.44  0.06 0.94  1.00       1.10
19          20  DOMINICAN REP.  DOM   57   7082 11,466.56  1,010.08  1,284.11  0.21  0.42 0.75  2.42       0.76
20          21  ECUADOR         ECU   78   9615 14,007.20  1,293.74  1,667.19  0.22  0.35 0.90  2.32       0.51
21          22  EGYPT           EGY   14   7142 12,023.85    744.02    963.25  0.23  0.43 0.20  3.21       0.46
22          23  EL SALVADOR     SLV   58   5547  8,397.83    830.28    960.19  0.14  0.38 0.47  3.36       0.49
23          24  ETHIOPIA        ETH   15    705  2,814.80    166.67    185.56  0.10  0.80 0.76  5.25       0.81
24          25  FINLAND         FIN  122  23700 25,881.55  3,684.79  5,860.97  0.37  0.10 0.97  1.28       0.59
25          26  FRANCE          FRA  123  27064 28,335.71  9,215.15 14,945.10  0.38  0.07 0.77  1.26       1.05
26          27  GERMANY, WEST   DEU  125  27252 28,315.70  6,020.22 11,515.35  0.48  0.05 0.27  1.21       0.64
27          28  GHANA           GHA   18   2237  4,569.45    427.60    490.02  0.13  0.56 0.59  1.95       0.36
28          29  GREECE          GRC  126  16270 21,372.60  2,852.67  4,270.46  0.33  0.28 1.04  1.26       0.59
29          30  GUATEMALA       GTM   60   7358 15,191.38    677.86    853.19  0.21  0.54 0.81  1.56       0.17
30          31  GUINEA          GIN   19   1583  6,080.68    241.65    279.98  0.14  0.77 0.32  2.51       0.27
31          32  HAITI           HTI   61   2125  6,406.90    296.70    350.17  0.15  0.70 0.36  3.00       0.56
32          33  HONDURAS        HND   62   4652 10,241.32    671.60    806.83  0.17  0.58 1.36  1.80       0.15
33          34  HUNGARY         HUN  127  10827 11,961.65  4,180.20  5,914.26  0.29  0.15 1.02  1.59       1.28
34          35  INDIA           IND   90   2719  7,726.30    281.61    338.80  0.17  0.67 0.57  2.70       0.23
35          36  INDONESIA       IDN   91   4332  8,745.83    399.03    487.75  0.18  0.53 0.33  1.79       0.32
36          37  IRAN            IRN   92  13847 19,288.54  1,042.63  1,467.66  0.29  0.30 1.07  0.67       0.35
37          38  IRAQ            IRQ   93  15855 20,648.57  1,070.12  1,418.89  0.25  0.24 1.28  1.84       0.39
38          39  IRELAND         IRL  129  19197 20,975.95  9,665.14 12,888.58  0.25  0.16 0.77  1.62       0.83
39          40  ISRAEL          ISR   94  21953 22,764.24  6,924.37 13,545.34  0.49  0.05 0.26  1.42       1.12
40          41  ITALY           ITA  130  27189 29,290.14  6,473.66  8,036.83  0.19  0.09 0.53  2.73       1.27
41          42  JAPAN           JPN   95  18820 20,094.60  1,159.71  2,254.05  0.49  0.07 0.06  1.65       0.47
42          43  KENYA           KEN   22   2014 11,231.78    252.84    297.28  0.15  0.84 0.30  2.50       0.09
43          44  KOREA, REP.     KOR   97  10361 14,684.36    578.81    783.98  0.26  0.31 0.13  1.83       0.30
44          45  MADAGASCAR      MDG   25   1707  6,748.31    324.32    407.03  0.20  0.78 0.66  3.33       0.24
45          46  MALAWI          MWI   26   1171  4,334.86    219.07    254.08  0.14  0.77 0.73  2.66       0.14
46          47  MALAYSIA        MYS  100  10458 15,726.79  1,169.95  1,602.89  0.27  0.36 0.79  1.92       0.44
47          48  MALI            MLI   27   1686  9,980.10    301.34    340.61  0.12  0.86 0.83  5.61       0.16
48          49  MOZAMBIQUE      MOZ   31   1417  9,165.34    109.65    128.02  0.14  0.86 3.41  5.84       0.12
49          50  MEXICO          MEX   64  17036 25,188.54  1,113.29  1,445.46  0.23  0.34 0.05  1.41       0.19
50          51  MOROCCO         MAR   30   6427 10,378.82    623.15    856.57  0.27  0.41 0.46  2.94       0.41
51          52  NEPAL           NPL  103   2244 30,197.59    162.93    189.59  0.14  0.93 0.35  6.04       0.07
52          53  NETHERLANDS     NLD  133  28563 29,154.52 15,993.60 24,321.17  0.34  0.04 0.15  1.20       1.22
53          54  NEW ZEALAND     NZL  147  26039 25,960.58 26,743.14 37,810.19  0.29  0.10 0.36  1.56       1.51
54          55  NICARAGUA       NIC   65   5900  9,626.43    858.63  1,109.78  0.23  0.43 1.28  3.79       0.53
55          56  NIGER           NER   33   1098 11,792.99    124.06    141.66  0.12  0.92 1.05  2.44       0.06
56          57  NIGERIA         NGA   34   2874  9,292.55    214.61    259.89  0.17  0.71 0.92  1.40       0.20
57          58  NORWAY          NOR  134  28749 30,536.62  3,487.59  6,348.01  0.45  0.07 0.42  1.10       0.38
58          59  PAKISTAN        PAK  105   4249  8,229.10    520.38    658.62  0.21  0.52 0.67  2.34       0.32
59          60  PAPUA N.GUINEA  PNG  148   3374 10,533.15    592.55    738.75  0.20  0.72 0.23  3.80       0.68
60          61  PARAGUAY        PRY   80   6241 10,453.27  1,816.61  2,343.10  0.22  0.49 1.77  3.26       0.63
61          62  PERU            PER   81   8141 12,666.14    659.25    848.89  0.22  0.38 0.60  2.64       0.13
62          63  PHILIPPINES     PHL  106   4229  7,608.10    665.65    770.25  0.14  0.49 0.39  2.93       0.34
63          64  PORTUGAL        PRT  136  11343 13,865.02  1,173.55  1,678.66  0.30  0.20 0.70  1.57       0.45
64          65  RWANDA          RWA   36   1539 14,810.83    225.85    262.41  0.14  0.91 0.36  4.82       0.10
65          66  SENEGAL         SEN   37   2688 13,365.78    210.32    252.58  0.17  0.81 0.85  1.73       0.06
66          67  SOMALIA         SOM   40   1574  4,804.67    456.52    514.85  0.11  0.74 0.39 11.76       2.91
67          68  SOUTH AFRICA    ZAF   41   9930 11,506.66  2,131.91  2,971.72  0.28  0.17 1.25  1.29       0.42
68          69  SPAIN           ESP  138  21169 23,833.34  4,379.22  6,633.18  0.34  0.14 1.49  1.45       0.59
69          70  SRI LANKA       LKA  110   5597 11,346.73    455.10    572.89  0.21  0.53 0.32  2.98       0.28
70          71  SUDAN           SDN   42   2436  6,144.71    510.76    593.21  0.14  0.66 1.79  4.05       0.49
71          72  SWEDEN          SWE  139  26504 27,502.57  6,127.62 10,907.13  0.44  0.05 0.69  1.32       0.58
72          73  SWITZERLAND     CHE  140  29848 31,090.53  6,529.64 10,284.52  0.37  0.05 0.13  1.32       0.74
73          74  SYRIA           SYR  111  17166 23,069.04  1,648.73  2,786.90  0.41  0.28 2.18  2.60       1.13
74          75  TANZANIA        TZA   44    975  4,766.84    235.20    268.77  0.12  0.84 0.30  3.63       0.51
75          76  THAILAND        THA  113   4751 13,717.74    407.82    525.41  0.22  0.67 0.74  2.51       0.10
76          77  TUNISIA         TUN   46   8783 11,923.63  1,285.15  1,711.94  0.25  0.30 2.05  1.41       0.48
77          78  TURKEY          TUR  141   7091 14,341.87    722.15    977.85  0.26  0.53 1.26  1.93       0.28
78          79  UGANDA          UGA   47   1224  6,633.34    293.59    338.71  0.13  0.85 0.96  1.61       0.33
79          80  U.K.            GBR  142  22981 23,279.63 10,195.74 17,651.90  0.42  0.02 0.25  1.34       1.15
80          81  U.S.A.          USA   72  33783 34,206.19 19,330.42 31,877.34  0.39  0.03 1.62  1.00       1.00
81          82  URUGUAY         URY   83  10216 10,894.68  6,201.57  8,338.81  0.26  0.14 1.13  2.24       1.85
82          83  VENEZUELA       VEN   84  18362 20,854.56  2,120.75  2,897.59  0.27  0.13 0.64  0.89       0.39
83          84  YUGOSLAVIA      YUG  144  11417 15,023.80  1,414.51  1,862.42  0.24  0.27 0.74  2.27       0.33
84          85  ZAIRE           ZAR   48   1136  2,923.25    282.58    314.04  0.10  0.68 0.66  2.30       0.22
85          86  ZIMBABWE        ZWE   50   3261 12,211.71    361.27    453.40  0.20  0.76 0.88  2.25       0.09

In [6]:
pwt.loc[(pwt.country=='India') & (pwt.year == 1985)]

     countrycode country currency_unit  year      rgdpe      rgdpo    pop    emp      avh   hc       ccon        cda      cgdpe      cgdpo           cn   ck  ctfp  cwtfp       rgdpna       rconna        rdana         rnna  rkna  rtfpna  rwtfpna  labsh  irr  delta    xr  pl_con  pl_da  pl_gdpo      i_cig       i_xm          i_xr i_outlier    i_irr  cor_exp  statcap  csh_c  csh_i  csh_g  csh_x  csh_m  csh_r  pl_c  pl_i  pl_g  pl_x  pl_m  pl_n  pl_k
5495         IND   India  Indian Rupee  1985 914,695.38 929,310.62 784.36 302.80 2,068.61 1.38 860,951.12 991,319.88 933,463.50 945,219.12 1,983,833.75 0.06  0.30   0.30 1,184,155.00 1,055,980.00 1,147,827.50 4,784,622.00  0.11    0.65     0.62   0.70 0.06   0.04 12.37    0.22   0.25     0.24  Benchmark  Benchmark  Market-based   Regular  Regular     0.38      NaN   0.72   0.14   0.19   0.03  -0.05  -0.03  0.25  0.39  0.14  0.35  0.38  0.28  0.66

In [7]:
pwt_labour.loc[pwt_labour.countrycode=='IND'].tail(10)

     countrycode     year            emp      avh               i_emp  yr_sch     source  labsh                    i_labsh                          i_labsh2  comp_sh  lab_sh1  lab_sh2  lab_sh3  lab_sh4                         i_comp_sh i_lab_sh1 i_lab_sh2                         i_lab_sh3                         i_lab_sh4
5228         IND 2,010.00 467,412,512.00 2,110.39      ETD (official)    5.39  Barro-Lee   0.51  Adjustment 4, agriculture                     Observed data     0.33      NaN      NaN     0.66     0.51                     Observed data       NaN       NaN                     Observed data                     Observed data
5229         IND 2,011.00 472,214,464.00 2,113.62      ETD (official)    5.50  Barro-Lee   0.51  Adjustment 4, agriculture                     Observed data     0.33      NaN      NaN     0.67     0.51                     Observed data       NaN       NaN                     Observed data                     Observed data
5230         IND 2,012.00 469,831,072.00 2,115.71      ETD (official)    5.60  Barro-Lee   0.51  Adjustment 4, agriculture                     Observed data     0.33      NaN      NaN     0.69     0.51                     Observed data       NaN       NaN                     Observed data                     Observed data
5231         IND 2,013.00 483,854,336.00 2,117.11      ETD (official)    5.71  Barro-Lee   0.52  Adjustment 4, agriculture                     Observed data     0.33      NaN      NaN     0.69     0.52                     Observed data       NaN       NaN                     Observed data                     Observed data
5232         IND 2,014.00 483,084,608.00 2,118.54      ETD (official)    5.82  Barro-Lee   0.52  Adjustment 4, agriculture                     Observed data     0.33      NaN      NaN     0.70     0.52                     Observed data       NaN       NaN                     Observed data                     Observed data
5233         IND 2,015.00 482,700,480.00 2,118.82      ETD (official)    5.93  Barro-Lee   0.51  Adjustment 4, agriculture                     Observed data     0.33      NaN      NaN     0.70     0.51                     Observed data       NaN       NaN  Assumed constant or interpolated                     Observed data
5234         IND 2,016.00 482,989,024.00 2,121.24      ETD (official)    6.04  Barro-Lee   0.52  Adjustment 4, agriculture                     Observed data     0.34      NaN      NaN     0.70     0.52                     Observed data       NaN       NaN  Assumed constant or interpolated                     Observed data
5235         IND 2,017.00 487,190,976.00 2,122.94  ILO (interpolated)    6.15  Barro-Lee   0.52  Adjustment 4, agriculture                     Observed data     0.34      NaN      NaN     0.70     0.52                     Observed data       NaN       NaN  Assumed constant or interpolated                     Observed data
5236         IND 2,018.00 491,077,216.00 2,122.94  ILO (interpolated)    6.26  Barro-Lee   0.52  Adjustment 4, agriculture  Assumed constant or interpolated     0.34      NaN      NaN     0.70     0.52  Assumed constant or interpolated       NaN       NaN  Assumed constant or interpolated  Assumed constant or interpolated
5237         IND 2,019.00 497,615,712.00 2,122.94  ILO (interpolated)    6.37  Barro-Lee   0.52  Adjustment 4, agriculture  Assumed constant or interpolated     0.34      NaN      NaN     0.70     0.52  Assumed constant or interpolated       NaN       NaN  Assumed constant or interpolated  Assumed constant or interpolated